@use 'sass:list';
@use 'sass:meta';

@function to-list($value, $keep: 'both') {
  @if not list.index('keys' 'values', $keep) {
    $keep: 'both';
  }

  @if meta.type-of($value) == 'map' {
    $keys: ();
    $values: ();

    @each $key, $val in $value {
      $keys: list.append($keys, $key);
      $values: list.append($values, $val);
    }

    @if $keep == 'keys' {
      @return $keys;
    } @else if $keep == 'values' {
      @return $values;
    } @else {
      @return list.zip($keys, $values);
    }
  }

  @if meta.type-of($value) != 'list' {
    @return ($value,);
  }

  @return $value;
}
