@use '@eleven-labs/design-system/scss/abstracts' as *;

.tutorial-page {
  &__content-container {
    position: relative;
  }

  &__steps {
    margin: 0 var(--spacing-l) var(--spacing-m);

    @include create-media-queries('md') {
      position: absolute !important;
      max-width: 200px;
      margin: 0 0 0 -254px;
    }
  }
}
