@use '@/design-system/styles/abstracts' as *;

.link {
  text-decoration-line: underline;
  font-weight: #{map-get-strict($token-variables, 'font-weight', 'semi-bold')};

  &:hover {
    text-decoration-line: none;
  }
}
