@use '@/design-system/styles/abstracts' as *;

.burger-button {
  border: none;
  background: none;

  &__line {
    width: 30px;
    height: 2px;
    background: #{map-get-strict($token-variables, 'color', 'primary')};
  }
}
