---
layout: default
permalink: /404.html
hide: true
---
<div class="container not-found">
	<h1 class="md-content__title">Page not found</h1>
	<div class="md-content">
		We apologize for any inconvenience, but the page you requested was not found. 
		You can use the search bar to look for a particular article or you can choose one from the "last articles" list below.
	</div>
</div>

<aside class="slice read-also">
	<div class="container">
		<h3 class="read-also__title">Derniers articles :</h3>
		<ul class="read-also__list">
			{% for post in site.posts limit:5 %}
				<li class="read-art">
					<a class="read-art__link" href='{{ post.url | prepend: site.baseurl_root }}'>{{ post.title }}</a>
					<br/>
					<div class="read-art__metas">
						<span class="read-art__meta">
							<i class="far fa-fw fa-calendar-plus"></i>{% include date_translate.html object=post.date %}
						</span>
						<span class="read-art__meta">|</span>
						<span class="read-art__meta">
							<i class="far fa-fw fa-clock" title="{% translate global.estimated_reading_time %}"></i>{% include reading_time.html content=post.content %}
						</span>
					</div>
					{% include author_articles_link.html authors=post.authors %}

					<div >
						<p>{{ post.excerpt }}</p>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</aside>
