---
layout: default
---

<div class="home">
    {% if site.theme_settings.header_text %}
    <div class="call-out"
        style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
        {{ site.theme_settings.header_text }}
    </div>
    {% endif %}

    <div class="posts">
    {% for post in paginator.posts %}
        <div class="posts-teaser slice">
            <div class="container">
                <h2 class="posts-title">
                    <a class="no-link-style" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                </h2>

                <time class="posts-date meta">
                    <span class="meta-content">
                        {{ post.date | date: "%B %-d, %Y" }} {% include author_link.html authors=post.authors %} - {% include reading_time.html content=post.content %}
                    </span>
                </time>

                <p class="excerpt">
                    {{ post.excerpt }}
                </p>

                <a class="button" href="{{ post.url | prepend: site.baseurl }}">
                    {{ site.theme_settings.str_continue_reading }}
                </a>
            </div>
        </div>
    {% endfor %}
    </div>

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
            <i class="fa fa-chevron-left"></i>
            {{ site.theme_settings.str_prev }}
        </a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
            {{ site.theme_settings.str_next }}
            <i class="fa fa-chevron-right"></i>
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>
