---
layout: default
---
<div class="home">
    <div class="call-out" style="background-image: url('{{ site.theme_settings.header_text_bg_image | prepend: site.baseurl_root }}')">
        <h1 class="home-logo">
            {% include logo.html %}
            <span class="home-title">
                <span class="visually-hidden">{{ site.theme_settings.brand }}</span> {% translate theme_settings.title %}
            </span>
        </h1>
    </div>
    <div class="posts">
    {% for post in paginator.posts %}
        <div class="slice">
            <div class="container">
                <h2 class="posts-title">
                    <a class="no-link-style" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                </h2>
                <span class="meta">
                    <time class="posts-date">
                        <span class="meta-content">
                            <span class="meta-item">
                                <i class="fa fa-fw fa-calendar"></i> {% include date_translate.html object=post.date %}
                            </span>
                            <span class="meta-item">
                                <i class="fa fa-fw fa-clock-o">
                                    <span class="visually-hidden">{% translate global.estimated_reading_time %}</span>
                                </i> {% include reading_time.html content=post.content %}
                            </span>
                        </span>
                    </time>
                    {% include author_link.html authors=post.authors %}
                </span>
                <p class="excerpt">
                    {{ post.excerpt }}
                </p>
            </div>
        </div>
    {% endfor %}
    </div>
    {% if paginator.total_pages > 1 %}
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button previous">
                    <i class="fa fa-chevron-left"></i>
                    {% translate global.prev %}
                </a>
            {% endif %}
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <span class="current-page">{{ page }}</span>
                {% elsif page == 1 %}
                    <a href="{{ "/" | prepend: site.baseurl }}">{{ page }}</a>
                {% else %}
                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button next">
                    {% translate global.next %}
                    <i class="fa fa-chevron-right"></i>
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
