---
layout: default
---
<div class="home">
    <div class="article-container">
        {% for post in paginator.posts %}
        <div class="article-preview">
            <div class="article-preview__header">
                <ul class="article-preview__social-icons-list">
                    {% include icons.html data=site.theme_settings origin='article' %}
                </ul>

                <h2 class="article-preview__title">
                    <a class="article-preview__title-link" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                </h2>
            </div>
            <div class="article-preview__metadatas">
                <time class="article-preview__post-reading">
                    <span class="article-preview__post-date">
                        <i class="far fa-fw fa-calendar-alt"></i>{% include date_translate.html object=post.date %}
                    </span>
                    <span class="article-preview__read-time">
                        <i class="far fa-fw fa-clock" title="{% translate global.estimated_reading_time %}"></i>{% include reading_time.html content=post.content %}
                    </span>
                </time>
                {% include author_articles_link.html authors=post.authors %}
            </div>
            <div class="article-preview__excerpt">
                <p>{{ post.excerpt }}</p>
            </div>
        </div>

        <hr class="separator-line" />
        {% endfor %}

        {% if paginator.total_pages > 1 %}
            <div class="pagination">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination__previous">
                        <i class="fas fa-chevron-left"></i>
                        {% translate global.prev %}
                    </a>
                {% endif %}
                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <span class="pagination__number pagination__current">{{ page }}</span>
                    {% elsif page == 1 %}
                        <a class="pagination__number" href="{{ "/" | prepend: site.baseurl }}">{{ page }}</a>
                    {% else %}
                        <a class="pagination__number" href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination__next">
                        {% translate global.next %}
                        <i class="fas fa-chevron-right"></i>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% include newsletter_link.html %}
