@use '@eleven-labs/design-system/scss/abstracts' as *;

.footer {
  &__intro {
    background-color: #093670; // @todo: add to design token color
  }

  &__intro-link {
    color: var(--color-white);
    text-decoration: underline;
  }

  &__language-links-container {
    border-top: 1px solid rgb(0 0 0 / 20%);
  }

  &__social-icon {
    border-radius: 6px;
  }
}
