@import-normalize;
@import-sanitize;

body {
  background-color: #E9F1F8;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}
