@use '@/design-system/styles/abstracts' as *;

.last-articles-block {
  &__post-list {
    display: grid; // @todo: add component for grid

    @include create-media-queries('md' ) {
      grid-template-columns: repeat(2, 1fr);

      .post-card:last-child {
        display: none;
      }
    }

    @include create-media-queries('lg') {
      grid-template-columns: repeat(3, 1fr);

      .post-card:last-child {
        display: flex;
      }
    }
  }
}
