@use '@eleven-labs/design-system/scss/abstracts' as *;

.post-footer {
  --avatar-img-post-footer: 52px;

  &__author {
    @include create-media-queries('md') {
      max-width: 380px;
    }
  }

  &__empty-avatar-img, &__avatar-img {
    height: var(--avatar-img-post-footer);
    width: var(--avatar-img-post-footer);
  }

  &__avatar-img {
    border-radius: 100%;
    background-color: var(--color-light-grey);
  }
}
