@use '@eleven-labs/design-system/scss/abstracts' as *;

.container {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: var(--width-container, auto);


  &--global {
    margin-top: var(--margin-top-container, var(--spacing-l));
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);

    @include create-media-queries('md') {
      --margin-top-container: var(--spacing-xl);
    }
  }

  &--common {
    @include create-media-queries('md') {
      --width-container: 1120px;
    }
  }

  &--content {
    @include create-media-queries('md') {
      --width-container: 864px;
    }
  }
}
