// jekyll variables
$baseurl: '{{ site.baseurl }}';
// Settings
@import 'settings/variables';

// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/global';
@import 'base/utility';

// objects
@import 'objects/layout';
@import 'objects/meta';
@import 'objects/buttons';
@import 'objects/page-heading';
@import 'objects/read-also';
@import 'objects/search-bar';
@import 'objects/avatar';
@import 'objects/newsletter';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';
@import 'includes/md-content';
@import 'includes/author';
