<!-- _includes/author_link.html -->
{% for author in include.authors %}
  {% assign authorLength = forloop.length %}
  {% for existingAuthor in site.authors %}
    {% if existingAuthor.login == author %}
      <div class="meta-author">
        <span>
          <i class="fas fa-fw fa-pencil-alt" data-fa-transform="flip-h" title="{% translate global.author_by %}"></i>
          <a class="author-link no-link-style" href="{{ '/authors/:author' | prepend: site.baseurl | replace: '//', '/' | replace: ':author', author }}">{{ existingAuthor.title }}</a> </br>
        </span>
        {% if include.descr %}
          {% if authorLength == 1 %}
            <p>{{ existingAuthor.content }}</p>
          {% elsif authorLength > 1 %}
            <p>{{ existingAuthor.content | truncatewords: 12 }}</p>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
