<div id="cookie-banner" class="cookie-banner">
    {% translate global.cookie_banner_message %}
    <button id="cookie-more-button" name="cookie-more">{% translate global.cookie_banner_more %}</button>
</div>

<div id="cookie-inform-and-ask" class="cookie-inform-and-ask">
    <div class="cookie-overlay">
        <h1>{% translate global.cookie_inform_and_ask_title %}</h1>
        <p>{% translate global.cookie_inform_and_ask_message %}</p>
        <div>
          <button id="ga-cancel-button" name="ga-cancel">{% translate global.cookie_inform_and_ask_disagree %}</button>
          <button id="ga-confirm-button" name="ga-confirm">{% translate global.cookie_inform_and_ask_agree %}</button>
        </div>
    </div>
</div>
