{% capture phoneNumber %}tel{{ site.theme_settings.phone_number | replace: " ", "" }}{% endcapture %}
{% if site.theme_settings.copyright %}
<footer class="slice footer">
    <p class="footer__container container">
		<span class="footer__text">{{ site.theme_settings.copyright }} © {{ 'now' | date: "%Y" }}</span>
		<span class="footer__text">
			<a class="footer__link no-link-style" href="{{ phoneNumber }}">
				{{ site.theme_settings.phone_number }}
			</a>
		</span>
		<span class="footer__text">{{ site.theme_settings.adress }} {{ site.theme_settings.post_code }}</span>
	</p>

	<!-- Required Material Web JavaScript library -->
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<!-- Instantiate chips component rendered in the document -->
	<script>
		if(document.querySelector('.mdc-chip-set')) {
			const chipSetEl = document.querySelector('.mdc-chip-set');
			mdc.chips.MDCChipSet.attachTo(chipSetEl);
		}
	</script>
</footer>
{% endif %}
