<footer class="slice footer">
    <div class="footer__container">
			<a class="footer__logo-eleven" href="{{ site.baseurl }}/">
					{% include eleven_logo.html %}
			</a>
			<span class="footer__logo-title" >
				{{ site.theme_settings.brand }}
			</span>
			<span class="footer__content">
				{% translate global.discover_eleven %}
			</span>
			<span class="footer__subtitle">
				{% translate global.know_us %}
			</span>
			<a class="footer__button" target="_blank" href="{{ site.theme_settings.site_web_eleven }}/">
				{% translate global.go_website %}
			</a>
		</div>
		<div class="footer__container-contact">
			<span class="footer__title">
				{% translate global.contact %}
			</span>
			<span class="footer__subtitle">
				{% translate global.eleven_paris %}
			</span>
			<span class="footer__content">
				{% translate global.eleven_address_paris %}
			</span>
			<div class="footer__content-links">
				<a class="footer__social-link-rss" target="_blank" href="{{ site.theme_settings.rss }}">
					{% include rss_logo.html %}
				</a>
				<a class="footer__social-link" target="_blank" href="{{ site.theme_settings.link_facebook }}">
					{% include facebook_logo.html %}
				</a>
				<a class="footer__social-link" target="_blank" href="{{ site.theme_settings.link_twitter }}">
					{% include twitter_logo.html %}
				</a>
				<a class="footer__social-link" target="_blank" href="{{ site.theme_settings.link_linkedin }}">
					{% include linkedin_logo.html %}
				</a>
				<a class="footer__social-link" target="_blank" href="{{ site.theme_settings.link_wttj }}">
					{% include wttj_logo.html %}
				</a>
			</div>
		</div>
		<div class="footer__container-infos">
			<span class="footer__subtitle">
				{% translate global.eleven_nantes %}
			</span>
			<span class="footer__content">
				{% translate global.eleven_address_nantes %}
			</span>
		</div>
		<div class="footer__container-infos">
			<span class="footer__subtitle">
				{% translate global.eleven_business_email %}
			</span>
			<span class="footer__content">
				{% translate global.eleven_business_tel %}
			</span>
		</div>
</footer>
<footer class="footer-locale">
	<div class="footer-locale__container">
		<p class="footer-locale__logo"">
			{% include locale_logo.html %}
		</p>
		<a class="footer-locale__content" href="{{ site.baseurl_root }}">
			{% translate global.french %}
		</a>
		<p class="footer-locale__separator"">
			{% include separator.html %}
		</p>
		<a class="footer-locale__content" href="{{ site.baseurl_root }}/en">
			{% translate global.english %}
		</a>
	</div>
</footer>