<header class="site-header">
    <div class="top-header">
        <div class="logo-blog">
            {% include logo.html %}
        </div>
        <div class="title-blog">
            {% include title.html %}
        </div>
        <a class="eleven-logo" href="https://eleven-labs.com/">{% include eleven_logo.html %}</a>
    </div>
    <div class="bottom-header">

        <a class="codelabs-access" href="https://codelabs.eleven-labs.com/">{% include codeLabs_access.html %}</a>

        <div class="social">
            {% include icons.html data=site.theme_settings %}
        </div>

        <div class="enfr">
            {% for language in site.languages %}
                {% if language != site.lang %}
                    {% if site.default_lang != language %}
                        {% assign link = language %}
                    {% endif %}
                    <a href="{{ site.baseurl_root }}/{{ link }}">
                        {{ language }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <a class="search-icon" href="#search">
            <div class="label-rechercher">
                Rechercher
            </div>
            {% include search_mobile_icon.html %}
        </a>
        <div id="search" class="search-bar">
            <a href="#" class="close-search">{% include close_search.html %}</a>
            {% include search.html %}
        </div>
    </div>
</header>
