<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, noarchive">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="b4FQzJd87KSOSeURIWpJg9gTA3Ab_RxYZvuMKl6-Tr8" />
    {% seo %}
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <!-- Allow installing the app to the homescreen -->
    <link rel="manifest" href="{{ "/manifest.json" | prepend: site.baseurl_root }}">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- iOS home screen icons -->
    <meta name="apple-mobile-web-app-title" content="Blog Eleven Labs">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/img/icons/apple-icon-120x120.png" | prepend: site.baseurl_root }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/img/icons/apple-icon-152x152.png" | prepend: site.baseurl_root }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/icons/apple-icon-180x180.png" | prepend: site.baseurl_root }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="theme-color" content="#fbe300">

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl_root }}" type="image/x-icon">

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl_root | prepend: site.url }}" />

    {% if site.theme_settings.google_fonts %}
    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family={{ site.theme_settings.google_fonts }}" rel="stylesheet" type="text/css">
    {% endif %}

    {% if page.path contains '_posts' %}
        <!-- AMP -->
        {% if site.lang == 'fr' %}
            <link rel="amphtml" href="{{ page.url | prepend: '/amp' | prepend: site.baseurl_root | prepend: site.url }}">
        {% elsif site.lang == 'en' %}
            <link rel="amphtml" href="{{ page.url | prepend: '/en/amp' | prepend: site.baseurl_root | prepend: site.url }}">
        {% endif %}
    {% endif %}

    <!-- CSS -->
    <style>
    {% capture include_to_sassify %}{% include main.scss %}{% include header-variables.scss.liquid %}{% endcapture %}{{ include_to_sassify | scssify }}
    </style>
</head>
