{% if include.data.rss %}
<li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.theme_settings.str_rss_follow }}">
        <i class="fa fa-fw fa-rss"></i>
    </a>
</li>
{% endif %}

{% if include.data.email_address %}
<li>
    <a href="mailto:{{ include.data.email_address }}" title="{{ site.theme_settings.str_email }}">
        <i class="fa fa-fw fa-envelope"></i>
    </a>
</li>
{% endif %}

{% if include.data.behance %}
<li>
    <a href="https://www.behance.net/{{ include.data.behance }}" title="{{ site.theme_settings.str_follow_on }} Behance">
        <i class="fa fa-fw fa-behance"></i>
    </a>
</li>
{% endif %}

{% if include.data.bitbucket %}
<li>
    <a href="https://bitbucket.org/{{ include.data.bitbucket }}" title="{{ site.theme_settings.str_follow_on }} Bitbucket">
        <i class="fa fa-fw fa-bitbucket"></i>
    </a>
</li>
{% endif %}

{% if include.data.dribbble %}
<li>
    <a href="https://dribbble.com/{{ include.data.dribbble }}" title="{{ site.theme_settings.str_follow_on }} Dribbble">
        <i class="fa fa-fw fa-dribbble"></i>
    </a>
</li>
{% endif %}

{% if include.data.facebook %}
<li>
    <a href="https://www.facebook.com/{{ include.data.facebook }}" title="{{ site.theme_settings.str_follow_on }} Facebook">
        <i class="fa fa-fw fa-facebook"></i>
    </a>
</li>
{% endif %}

{% if include.data.flickr %}
<li>
    <a href="https://www.flickr.com/photos/{{ include.data.flickr }}" title="{{ site.theme_settings.str_follow_on }} Flickr">
        <i class="fa fa-fw fa-flickr"></i>
    </a>
</li>
{% endif %}

{% if include.data.github %}
<li>
    <a href="https://github.com/{{ include.data.github }}" title="{{ site.theme_settings.str_follow_on }} GitHub">
        <i class="fa fa-fw fa-github"></i>
    </a>
</li>
{% endif %}

{% if include.data.google_plus %}
<li>
    <a href="https://plus.google.com/{{ include.data.google_plus }}" title="{{ site.theme_settings.str_follow_on }} Google+">
        <i class="fa fa-fw fa-google-plus"></i>
    </a>
</li>
{% endif %}

{% if include.data.instagram %}
<li>
    <a href="http://instagram.com/{{ include.data.instagram }}" title="{{ site.theme_settings.str_follow_on }} Instagram">
        <i class="fa fa-fw fa-instagram"></i>
    </a>
</li>
{% endif %}

{% if include.data.linkedin %}
<li>
    <a href="{{ include.data.linkedin }}" title="{{ site.theme_settings.str_follow_on }} LinkedIn">
        <i class="fa fa-fw fa-linkedin"></i>
    </a>
</li>
{% endif %}

{% if include.data.pinterest %}
<li>
    <a href="http://www.pinterest.com/{{ include.data.pinterest }}" title="{{ site.theme_settings.str_follow_on }} Pinterest">
        <i class="fa fa-fw fa-pinterest"></i>
    </a>
</li>
{% endif %}

{% if include.data.reddit %}
<li>
    <a href="https://www.reddit.com/user/{{ include.data.reddit }}" title="{{ site.theme_settings.str_follow_on }} Reddit">
        <i class="fa fa-fw fa-reddit"></i>
    </a>
</li>
{% endif %}

{% if include.data.soundcloud %}
<li>
    <a href="https://soundcloud.com/{{ include.data.soundcloud }}" title="{{ site.theme_settings.str_follow_on }} SoundCloud">
        <i class="fa fa-fw fa-soundcloud"></i>
    </a>
</li>
{% endif %}

{% if include.data.stack_exchange %}
<li>
    <a href="{{ include.data.stack_exchange }}" title="{{ site.theme_settings.str_follow_on }} Stack Exchange">
        <i class="fa fa-fw fa-stack-exchange"></i>
    </a>
</li>
{% endif %}

{% if include.data.steam %}
<li>
    <a href="http://steamcommunity.com/id/{{ include.data.steam }}" title="{{ site.theme_settings.str_follow_on }} Steam">
        <i class="fa fa-fw fa-steam"></i>
    </a>
</li>
{% endif %}

{% if include.data.tumblr %}
<li>
    <a href="http://{{ include.data.tumblr }}.tumblr.com/" title="{{ site.theme_settings.str_follow_on }} Tumblr">
        <i class="fa fa-fw fa-tumblr"></i>
    </a>
</li>
{% endif %}

{% if include.data.twitter %}
<li>
    <a href="https://twitter.com/{{ include.data.twitter }}" title="{{ site.theme_settings.str_follow_on }} Twitter">
        <i class="fa fa-fw fa-twitter"></i>
    </a>
</li>
{% endif %}

{% if include.data.wordpress %}
<li>
    <a href="https://{{ include.data.wordpress }}.wordpress.com/" title="{{ site.theme_settings.str_follow_on }} WordPress">
        <i class="fa fa-fw fa-wordpress"></i>
    </a>
</li>
{% endif %}

{% if include.data.youtube %}
<li>
    <a href="https://www.youtube.com/channel/{{ include.data.youtube }}" title="{{ site.theme_settings.str_follow_on }} YouTube">
        <i class="fa fa-fw fa-youtube"></i>
    </a>
</li>
{% endif %}
