{% case include.origin %}
{% when 'author' %}
    {% assign social-icon = 'author-heading__social-icon' %}
    {% assign social-icon-link = 'author-heading__social-icon-link' %}
{% when 'article' %}
    {% assign social-icon = 'article-preview__social-icon' %}
    {% assign social-icon-link = 'article-preview__social-icon-link' %}
{% else %}
    {% assign social-icon = 'header-bottom__social__icon' %}
    {% assign social-icon-link = 'header-bottom__social__link' %}
{% endcase %}

{% if include.data.rss %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="rss" href="{{ "/feed.xml" | prepend: site.baseurl_root | prepend: site.url }}" title="{% translate global.rss_follow %}" rel="nofollow noreferrer">
        <i class="fas fa-fw fa-rss"></i>
    </a>
</li>
{% endif %}

{% if include.data.email_address %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="contact" href="mailto:{{ include.data.email_address }}" title="{% translate global.email %}" rel="nofollow noreferrer">
        <i class="fas fa-fw fa-envelope"></i>
    </a>
</li>
{% endif %}

{% if include.data.behance %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="behance" href="https://www.behance.net/{{ include.data.behance }}" title="{% translate global.follow_us_on %} Behance" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-behance"></i>
    </a>
</li>
{% endif %}

{% if include.data.bitbucket %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="bitbucket" href="https://bitbucket.org/{{ include.data.bitbucket }}" title="{% translate global.follow_us_on %} Bitbucket" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-bitbucket"></i>
    </a>
</li>
{% endif %}

{% if include.data.dribbble %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="dribbble" href="https://dribbble.com/{{ include.data.dribbble }}" title="{% translate global.follow_us_on %} Dribbble" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-dribbble"></i>
    </a>
</li>
{% endif %}

{% if include.data.flickr %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="flickr" href="https://www.flickr.com/photos/{{ include.data.flickr }}" title="{% translate global.follow_us_on %} Flickr" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-flickr"></i>
    </a>
</li>
{% endif %}

{% if include.data.github %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="github" href="https://github.com/{{ include.data.github }}" title="{% translate global.follow_us_on %} GitHub" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-github"></i>
    </a>
</li>
{% endif %}

{% if include.data.twitter %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="twitter" href="https://twitter.com/{{ include.data.twitter }}" title="{% translate global.follow_us_on %} Twitter" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-twitter"></i>
    </a>
</li>
{% endif %}

{% if include.data.facebook %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="facebook" href="https://www.facebook.com/{{ include.data.facebook }}" title="{% translate global.follow_us_on %} Facebook" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-facebook-f"></i>
    </a>
</li>
{% endif %}

{% if include.data.google_plus %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="google-plus" href="https://plus.google.com/{{ include.data.google_plus }}" title="{% translate global.follow_us_on %} Google+" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-google-plus"></i>
    </a>
</li>
{% endif %}

{% if include.data.instagram %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="instagram" href="http://instagram.com/{{ include.data.instagram }}" title="{% translate global.follow_us_on %} Instagram" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-instagram"></i>
    </a>
</li>
{% endif %}

{% if include.data.linkedin %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="linkedin" href="{{ include.data.linkedin }}" title="{% translate global.follow_us_on %} LinkedIn" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-linkedin-in"></i>
    </a>
</li>
{% endif %}

{% if include.data.pinterest %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="pinterest" href="http://www.pinterest.com/{{ include.data.pinterest }}" title="{% translate global.follow_us_on %} Pinterest" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-pinterest"></i>
    </a>
</li>
{% endif %}

{% if include.data.reddit %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="reddit" href="https://www.reddit.com/user/{{ include.data.reddit }}" title="{% translate global.follow_us_on %} Reddit" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-reddit"></i>
    </a>
</li>
{% endif %}

{% if include.data.soundcloud %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="soundcloud" href="https://soundcloud.com/{{ include.data.soundcloud }}" title="{% translate global.follow_us_on %} SoundCloud" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-soundcloud"></i>
    </a>
</li>
{% endif %}

{% if include.data.stack_exchange %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="stack-exchange" href="{{ include.data.stack_exchange }}" title="{% translate global.follow_us_on %} Stack Exchange" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-stack-exchange"></i>
    </a>
</li>
{% endif %}

{% if include.data.steam %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="steam-community" href="http://steamcommunity.com/id/{{ include.data.steam }}" title="{% translate global.follow_us_on %} Steam" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-steam"></i>
    </a>
</li>
{% endif %}

{% if include.data.tumblr %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="tumblr" href="http://{{ include.data.tumblr }}.tumblr.com/" title="{% translate global.follow_us_on %} Tumblr" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-tumblr"></i>
    </a>
</li>
{% endif %}

{% if include.data.wordpress %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="wordpress" href="https://{{ include.data.wordpress }}.wordpress.com/" title="{% translate global.follow_us_on %} WordPress" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-wordpress"></i>
    </a>
</li>
{% endif %}

{% if include.data.youtube %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="youtube" href="https://www.youtube.com/channel/{{ include.data.youtube }}" title="{% translate global.follow_us_on %} YouTube" rel="nofollow noreferrer">
        <i class="fab fa-fw fa-youtube"></i>
    </a>
</li>
{% endif %}

{% if include.data.corporate %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="corporate" href="{{ include.data.corporate }}" title="{% translate global.corporate %}" rel="nofollow">
        <img class="corporate-logo" src="{{ include.data.corporate_logo | prepend: site.baseurl_root }}" alt="corporate_logo" width="20.57" height="15" />
    </a>
</li>
{% endif %}

{% if include.data.welcome_to_the_jungle %}
<li class="{{ social-icon }}">
    <a class="no-link-style tracked-link {{ social-icon-link }}" data-tracking="corporate" href="{{ include.data.welcome_to_the_jungle }}" title="{% translate global.follow_us_on %}" rel="nofollow noreferrer">
        <img class="welcome_to_the_jungle_logo" src="{{ include.data.welcome_to_the_jungle_logo | prepend: site.baseurl_root }}" alt="welcome_to_the_jungle_logo" style="width:1em; margin-bottom: -2px;"/>
    </a>
</li>
{% endif %}
