<aside class="slice read-also">
    <div class="container">
        <h3 class="read-also__title">{% translate global.also_read %}</h3>
        <ul class="read-also__list">
            {% assign limit = 0 %}
            {% for post in site.posts %}
                {% if limit >= 3 %}
                    {% break %}
                {% endif %}
                {% if post.url == page.url %}
                    {% continue %}
                {% else %}
                    <li class="read-art">
                        <a class="read-art__link no-link-style" href='{{ post.url | prepend: site.baseurl_root }}'>{{ post.title }}</a>
                        <br/>
                        <div class="read-art__metas">
                            <span class="read-art__meta">
                                <i class="far fa-fw fa-calendar-plus"></i>{% include date_translate.html object=post.date %}
                            </span>
                            <span class="read-art__meta">|</span>
                            <span class="read-art__meta">
                                <i class="far fa-fw fa-clock" title="{% translate global.estimated_reading_time %}"></i>{% include reading_time.html content=content %}
                            </span>
                        </div>
                        {% include author_articles_link.html authors=post.authors %}

                        <div >
                            <p>{{ post.excerpt }}</p>
                        </div>
                    </li>
                    {% assign limit = limit | plus:1 %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>
