<aside class="slice read-also">
    <div class="container">
        <h3 class="read-also-title">A lire aussi</h3>
        <ul class="read-also-list">
            {% assign limit = 0 %}
            {% for post in site.posts %}
                {% if limit >= 3 %}
                    {% break %}
                {% endif %}
                {% if post.url == page.url %}
                    {% continue %}
                {% else %}
                    <li class="read-also-item">
                        <a class="read-also-link" href='{{ post.url | prepend: site.baseurl }}'>{{ post.title }}</a>
                    </li>
                    {% assign limit = limit | plus:1 %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>
