<aside class="slice read-also">
    <div class="container">
        <h3 class="read-also-title">{% translate global.also_read %}</h3>
        <ul class="read-also-list">
            {% assign limit = 0 %}
            {% for post in site.posts %}
                {% if limit >= 3 %}
                    {% break %}
                {% endif %}
                {% if post.url == page.url %}
                    {% continue %}
                {% else %}
                    <div class="read-also-item">
                        <a class="read-also-link no-link-style" href='{{ post.url | prepend: site.baseurl_root }}'>{{ post.title }}</a>
                        <br/>
                        <div>
                            <span class="read-also-meta">
                                <i class="fa fa-fw fa-calendar-alt"></i>{% include date_translate.html object=page.date %}
                            </span>
                            <span class="read-also-meta">|</span>
                            <span class="read-also-meta">
                                <i class="fa fa-fw fa-clock" title="{% translate global.estimated_reading_time %}"></i>{% include reading_time.html content=content %}
                            </span>
                        </div>

                        {% include author_link.html authors=post.authors %}
                    </div>
                    {% assign limit = limit | plus:1 %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>
