// jekyll variables
$baseurl: '{{ site.baseurl_root }}';

// Settings
@import 'settings/fonts';
@import 'settings/variables';
@import 'settings/functions';

// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/global';
@import 'base/utility';

// objects
@import 'objects/layout';
@import 'objects/meta';
@import 'objects/buttons';
@import 'objects/page-heading';
@import 'objects/read-also';
@import 'objects/search-bar';
@import 'objects/search-bar-mobile';
@import 'objects/avatar';
@import 'objects/newsletter';
@import 'objects/chips';

// Posts
@import 'layouts/posts';
@import 'layouts/404';
@import 'layouts/index';

// Partials
//@import 'includes/header';
@import 'includes/footer';
@import 'includes/md-content';
@import 'includes/author';
@import 'includes/share';
@import 'includes/offline-ready-banner';
@import 'includes/cookie-banner';
@import 'includes/back-to-top';
@import 'includes/admonition';
