<footer class="slice newsletter">
    <div class="newsletter__container container">
        <p class="newsletter__subtitle">
            {% translate global.want_more %}
        </p>
        <p class="newsletter__title">
            {% translate global.find_our_newsletter %}
        </p>
        <a class="button--squared no-link-style tracked-link" target="_blank" data-tracking="newsletter" rel="nofollow noreferrer" href="http://eepurl.com/cOuOIf">
            {% translate global.newsletter_subscribe %}
        </a>
    </div>
</footer>