<footer class="slice newsletter">
    <div class="newsletter__container container">
        <div class="newsletter__img">
            {% include satellite.html %}
        </div>
        <div class="newsletter__title">
            <span class="newsletter__title__light">{% translate global.search_tool_newsletter %}</span>
            <span class="newsletter__title__bold">{% translate global.lets_subscribe_newsletter %}</span>
            <a class="newsletter__button" target="_blank" data-tracking="newsletter" rel="nofollow noreferrer" href="http://eepurl.com/cOuOIf">
                {% translate global.newsletter_subscribe %}
            </a>
        </div>
    </div>
</footer>