<footer class="slice newsletter">
    <div class="newsletter__container container">
        <p class="newsletter__subtitle">
            {% translate global.want_more %}
        </p>
        <p class="newsletter__title">
            {% translate global.find_our_newsletter %}
        </p>
        <a class="button--squared no-link-style tracked-link" target="_blank" data-tracking="newsletter" rel="nofollow noreferrer" href="http://eepurl.com/cOuOIf">
            {% translate global.newsletter_subscribe %}
        </a>
        <div style="display:none">
            <pre>
                LE LAPIN T'INVITE A VOIR LE CODE SOURCE
                ================================================================

                                  .".
                                 /  |
                                /  /
                               / ,"
                   .-------.--- /
                  "._ __.-/ o. o\
                     "   (    Y  )
                          )     /
                         /     (
                        /       Y
                    .-"         |
                   /  _     \    \
                  /    `. ". ) /' )
                 Y       )( / /(,/
                ,|      /     )
               ( |     /     /
                " \_  (__   (__
                    "-._,)--._,)


                ================================================================
                557ad749d1c57c57f3b12690144e714457858dfc85b3fb439d1b30501ae36f58
                ================================================================

            </pre>
        </div>
    </div>
</footer>
