<script type="text/javascript">
    window.site = {
        lang: '{{ site.lang }}',
        translations: {{ site.translations[site.lang] | jsonify }},
        sw: '{{ "/sw.js" | prepend: site.baseurl }}',
    };
</script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-592d8d29f5f816c3"></script>
<script src="{{ "/js/lib/moment/moment.min.js" | prepend: site.baseurl_root }}"></script>
<script src="{{ "/js/lib/moment/locale/fr.min.js" | prepend: site.baseurl_root }}"></script>
<script src="{{ "/js/lib/algoliasearch/algoliasearchLite.min.js" | prepend: site.baseurl_root }}"></script>
<script src="{{ "/js/search.js" | prepend: site.baseurl_root }}"></script>
<script src="{{ "/js/service-worker.js" | prepend: site.baseurl_root }}"></script>
