<aside class="share-buttons">
	<!-- Facebook -->
    <a class="tracked-link share-buttons__one" data-tracking="facebook" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="{% translate global.share_on %} Facebook" rel="nofollow noreferrer" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=500,top=50,left=50');return false;">
        <i class="fab fa-fw fa-facebook-f"></i>
    </a>
    <!-- Twitter -->
    <a class="tracked-link share-buttons__one" data-tracking="twitter" href="https://twitter.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&text={{ page.title | url_encode }}" title="{% translate global.share_on %} Twitter" rel="nofollow noreferrer" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=500,top=50,left=50');return false;">
        <i class="fab fa-fw fa-twitter"></i>
    </a>
    <!-- LinkedIn -->
    <a class="tracked-link share-buttons__one" data-tracking="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | url_encode }}&summary={{ page.description | url_encode}}" title="{% translate global.share_on %} LinkedIn" rel="nofollow noreferrer" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=500,top=50,left=50');return false;">
        <i class="fab fa-fw fa-linkedin-in"></i>
    </a>
    <!-- Reddit -->
    <a class="tracked-link share-buttons__one" data-tracking="reddit" href="http://reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="{% translate global.share_on %} Reddit" rel="nofollow noreferrer" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=500,top=50,left=50');return false;">
        <i class="fab fa-fw fa-reddit-alien"></i>
    </a>
</aside>
