.avatar {
  border-radius: 50%;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100px;

  &-img {
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
