.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}
