.button {
  color: $brand-black;
  display: inline-block;
  font-family: $font-family-headings;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: .05em;
  text-decoration: underline;
  text-transform: uppercase;

  &:hover {
    background: $brand-yellow;
    text-decoration: none;
  }

  &:visited,
  &:visited:hover {
    color: $button-hover;
  }
}
