.mdc-chip-set {
  padding: 0 4px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 15px;

  & a {
    text-decoration: none;
  }

  & .mdc-chip {
    margin: 4px;
  }

}

.mdc-chip__text {
  white-space: nowrap;
  font-size: 1.55rem;
}