.mdc-chip {
  &-set {
    padding: 0 4px 0 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 15px;

    & a {
      text-decoration: none;
    }

    & .mdc-chip {
      margin: 4px;
    }

  }

  &__text {
    white-space: nowrap;
    font-size: 1.55rem;
  }
}
