.mdc-chip {
  &-set {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 0 4px 0 0;

    a {
      text-decoration: none;
    }

    .mdc-chip {
      margin: 4px;
    }

  }

  &__text {
    font-size: 1.5rem;
    margin-top: 0.1rem;
    white-space: nowrap;
  }
}
