.slice {
  border-bottom: 1px solid $border-color;

  @media (min-width: 480px) {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  @media (max-width: 480px) {
    padding-bottom: 25px;
    padding-top: 25px;
  }
}

.container {
  margin: 0 auto;
  max-width: $max-width-layout;

  @media (min-width: 480px) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: 480px) {
    padding-left: 25px;
    padding-right: 25px;
  }
}
