.slice {
  border-bottom: 1px solid $border-color;

  @media (min-width: $breakpoint-small) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @media (max-width: $breakpoint-small) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.container {
  margin: 0 auto;

  @media (max-width: $breakpoint-small) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: $breakpoint-small) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media (min-width: $breakpoint-medium) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @media (min-width: $breakpoint-x-large) {
    max-width: $max-width-layout-large;
    padding-left: 0;
    padding-right: 0;
  }
}
