.meta {
  position: relative;

  @media (min-width: $breakpoint-medium) {
    font-size: 1.5rem;
  }

  @media (max-width: $breakpoint-medium) {
    font-size: 1.3rem;
  }

  &-content {
    display: inline-block;
    line-height: 1.6;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }

  &::before {
    background-color: $brand-yellow;
    bottom: -8px;
    content: '';
    display: block;
    height: 1.1em;
    left: -1%;
    position: absolute;
    width: 108%;
    z-index: 0;

    @media (max-width: $breakpoint-medium) {
      width: 102%;
    }
  }
}
