.meta {
  position: relative;

  @media (max-width: $breakpoint-medium) {
    font-size: 1.3rem;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 1.5rem;
  }

  &-content {
    display: inline-block;
    line-height: 1.6;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }

  &::before {
    background-color: $brand-yellow;
    bottom: -.8rem;
    content: '';
    display: block;
    height: 1.4rem;
    left: -1%;
    position: absolute;
    width: 108%;
    z-index: -1;

    @media (max-width: $breakpoint-medium) {
      width: 102%;
    }
  }

  &-item {
    display: inline-block;

    .page-heading & {
      margin-bottom: 1rem;
    }

    &::after {
      content: '';
      font-size: 1.4rem;
      margin: 0 .6rem;
    }
  }

  &-author {
    text-transform: uppercase;

    @media (max-width: $breakpoint-small) {
      display: block;
      margin-bottom: 2rem;
    }

    @media (min-width: $breakpoint-small) {
      display: inline-block;
    }

    @media (max-width: $breakpoint-medium) {
      font-size: 1.3rem;
    }

    @media (min-width: $breakpoint-medium) {
      font-size: 1.5rem;
    }

    .fa {
      transform: rotateY(180deg);
    }
  }
}
