.meta {
  padding: 3rem 0;

  &__content {
    display: inline-block;
    line-height: 1.6;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }

  &__author {
    display: flex;
    flex-direction: column;
    margin: em(10px) 0;

    @media (min-width: $breakpoint-medium) {
      font-size: 2rem;
    }

    &__link {
      display: inline-block;
      margin-bottom: .3rem;
      padding: 0 .6rem;
      text-decoration: underline;
      text-shadow: none;
    }

    &__link:hover {
      text-decoration: none;
    }

    &__link,
    &__picto {
      color: $casablanca;
    }

    .fa {
      transform: rotateY(180deg);
    }

    p {
      margin: 5px 0 15px;
    }
  }

  &-item {
    color: $casablanca;
    display: inline-block;

    .page-heading & {
      margin-bottom: 1rem;
    }

    &::after {
      content: '';
      display: inline-block;
      font-size: 1.4rem;
      margin: 0 .6rem;
    }
  }
}
