.meta {
  position: relative;

  @media (min-width: 480px) {
    font-size: 1.5rem;
  }

  @media (max-width: 480px) {
    font-size: 1.3rem;
  }

  &-content {
    display: inline-block;
    font-family: $font-family-headings;
    font-weight: lighter;
    letter-spacing: .05em;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }

  &::before {
    background-color: $brand-yellow;
    bottom: -6px;
    content: '';
    display: block;
    height: 1.1em;
    left: -1%;
    position: absolute;
    width: 108%;
    z-index: 0;
  }
}
