.newsletter {
  background-image: $footer-background;
  color: $white;
  height: 34rem;
  text-align: center;

  .container {
    padding: 3rem;
  };

  &-subtitle {
    font-family: $font-family-footer-title;
    font-size: 1.4rem;
    opacity: .5;
    text-transform: uppercase;
  };

  &-title {
    @extend %h4;
    font-family: $font-family-footer-title;
    font-size: 3.6rem;
    padding: .5rem 0 3rem;
  };
}
