.newsletter {
  background-image: $white;
  height: 34rem;
  margin-top: auto;
  text-align: center;

  &__container {
    backdrop-filter: blur(30px);
    // scss-lint:disable ColorVariable
    background: rgba(225, 234, 249, .5);
    border-radius: 20px;
    height: 246px;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    width: 80%;
  };

  &__img {
    float: left;
    height: 181px;
    margin-left: 150px;
    width: 171px;
  };

  &__button {
    background-color: $red-light;
    border-radius: 4px;
    color: $white;
    font-family: WorkSans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    height: 37px;
    left: 72px;
    line-height: 21px;
    padding: 15px 25px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 50px;
    width: 171px;
  };

  &__title {
    float: left;
    padding-left: 38px;
    text-align: left;
    width: 400px;

    &__light {
      color: $black;
      font-family: WorkSans;
      font-size: 22px;
      font-style: normal;
      font-weight: normal;
      line-height: 26px;
    }

    &__bold {
      color: $black;
      font-family: WorkSans;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 125.5%;
    }
  };
}
