.page-heading {
  background: $brand-yellow;

  &.with-cover {
    text-shadow: $gray 1px 1px 1px, $gray -1px 1px 1px, $gray -1px -1px 1px, $gray 1px -1px 1px;
  }

  @media (min-width: $breakpoint-x-small) {
    padding: 6rem 0;
  }

  @media (max-width: $breakpoint-x-small) {
    padding: 3rem 0;
  }

  &-title {
    @extend %h1;
    margin-bottom: 2rem;
  }

  &-reading-time {
    font-size: 1.2rem;
    margin-top: .5rem;
  }
}
