.page-heading {
  background: $brand-yellow;

  &.with-cover {
    text-shadow: $gray 1px 1px 1px, $gray -1px 1px 1px, $gray -1px -1px 1px, $gray 1px -1px 1px;
  }   

  @media (min-width: 480px) {
    padding: 60px 0;
  }

  @media (max-width: 480px) {
    padding: 30px 0;
  }

  &-title {
    @extend %h1;
    margin: 15px 0;
  }

  &-reading-time {
    font-size: 1.2rem;
    margin-top: 5px;
  }
}
