.page-heading {
  background: $brand-yellow;

  @media (min-width: $breakpoint-x-small) {
    padding: 6rem 0;
  }

  @media (max-width: $breakpoint-x-small) {
    padding: 3rem 0;
  }

  &-title {
    @extend %h1;
    margin-bottom: 5rem;

    @media (min-width: $breakpoint-large) {
      padding: 0 9rem;
    }
  }

  &-reading-time {
    font-size: 1.2rem;
    margin-top: .5rem;
  }
}
