.read-also {
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-title {
    @extend %h3;
    margin-bottom: 1rem;
  }

  &-item {
    padding: .8rem 0;
  }

  &-link {
    @extend %h4;
  }
}
