.read-also {
  background: $background-grey;

  &__list {
    list-style: none;
  }

  &__title {
    @extend %h3;
    color: $red-light;
    margin: 3rem 0 1rem;
  }
}

.read-art {
  background: $white;
  border: 1px solid $border-card;
  border-radius: 2px;
  margin: 20px 0;
  padding: 20px;

  &__link {
    @extend %h2;
    color: $red-light;
    font-family: $font-family-post-titles;
    font-size: 2.2rem;
    font-weight: 400;
    text-decoration: none;

    @media (min-width: $breakpoint-medium) {
      font-size: 1.9rem;
    }
  }

  &__metas {
    display: inline-block;
    margin: 1.3rem 0;

  }

  &__meta {
    color: $charcoal-grey;

    &::after {
      content: '';
      display: inline-block;
      font-size: 1.4rem;
      margin: 0 .6rem;
    }
  }
}
