.read-also {
  &-list {
    list-style: none;
  }

  &-title {
    @extend %h3;
    margin-bottom: 1rem;
  }

  &-item {
    padding: .8rem 0;
  }

  &-link {

    @media (max-width: $breakpoint-medium) {
      font-size: 1.6rem;
    }
    
    @media (min-width: $breakpoint-medium) {
      font-size: 1.9rem;
    }
  }
}
