.search-bar {
  background: $alabaster;
  font-size: em(20px);
  position: relative;

  &-label {
    font-size: em(12px);
    letter-spacing: .1em;
    padding-left: em(20px);
    text-transform: uppercase;
  }

  &-input {
    background: $casablanca;
    border: 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    &:focus {
      background: $alabaster;
      box-sizing: border-box;
      opacity: 1;
      outline: none;
      padding: 0 em(30px);

      @media (min-width: $breakpoint-small) {
        min-width: em(120px);
      }

      @media (min-width: $breakpoint-large) {
        border: 0;
        padding-left: em(20px);
      }
    }
  }
}

.search-logo {
  font-size: em(13px);
  padding-bottom: em(15px);
  padding-top: em(15px);
  text-align: right;

  &-bg {
    background: url($baseurl + '/img/Algolia_logo_bg-white.svg') no-repeat;
    background-size: contain;
    display: inline-block;
    height: em(25px);
    margin-bottom: em(-10px);
    margin-left: em(5px);
    width: em(70px);
  }
}
