.search-bar {
  // scss-lint:disable ColorVariable
  box-shadow: 0 4px 30px rgba(0, 0, 0, .06);
  flex-direction: row;
  left: 55%;
  position: absolute;
  top: 33px;
  width: 350px;

  @media(min-width: $breakpoint-large) {
    // scss-lint:disable ColorVariable
    box-shadow: 0 4px 30px rgba(0, 0, 0, .06);
    width: 600px;
  }

  &__input {
    background-color: $white;
    border: 1px solid $white;
    border-radius: 29px;
    // scss-lint:disable ColorVariable
    box-shadow: 0 4px 30px rgba(0, 0, 0, .06);
    color: $dark-gray;
    float: left;
    font-family: $font-family-main;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    outline: none;
    padding: 10px;
    width: 350px;

    @media(min-width: $breakpoint-large) {
      width: 600px;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    background-color: $white;
    border-bottom: 1px solid $white;
    border-bottom-right-radius: 29px;
    border-left: 1px solid $black;
    border-right: 1px solid $white;
    border-top: 1px solid $white;
    border-top-right-radius: 29px;
    color: $dark-gray;
    cursor: pointer;
    float: left;
    font-size: 17px;
    margin-left: -45px;
    margin-top: 6px;
    padding: 1px;
    width: 5%;

    &:hover {
      background: $white;
    }
  }

  &__icon {
    color: $red-light;
    margin-left: 10px;
    margin-top: 2px;
  }
}
