.search-bar {
  font-size: 1.4rem;
  position: relative;

  &-label {
    font-size: 1.1rem;
    letter-spacing: .1em;
    padding-left: 1rem;
    text-transform: uppercase;
  }

  &-input {
    background: $brand-color;
    border: 0;
    border-bottom: 2px solid transparent;
    bottom: 0;
    cursor: pointer;
    display: block;
    max-width: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .2s ease;
    z-index: 10;

    &:focus {
      opacity: 1;
      outline: none;

      @media (min-width: $breakpoint-small) {
        min-width: 12rem;
      }
    }
  }
}

.search-logo {
  font-size: 1.3rem;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: right;

  &-bg {
    background: url($baseurl + '/img/Algolia_logo_bg-white.svg') no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25px;
    margin-bottom: -10px;
    margin-left: 6px;
    width: 70px;
  }
}
