@use '@/design-system/styles/abstracts' as *;

.home-intro-block {
  background-color: white;

  &__container {
    @include create-media-queries('md', 'max') {
      max-width: 90vw;
      margin: #{map-get-strict($token-variables, 'spacing', 'xl')} auto;
    }

    @include create-media-queries('md', 'min') {
      margin-left: 5vw;
    }
  }

  &__background {
    @include create-media-queries('md') {
      background-image: url('/imgs/home-intro-block.png');
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
    }
  }
}
