@use '@eleven-labs/design-system/scss/abstracts' as *;

@mixin multi-line-ellipsis($line-height: 1.2em, $line-count: 1, $bg-color: var(--color-white)) {
  overflow: hidden;
  position: relative;
  line-height: $line-height;
  max-height: $line-height * $line-count;
  text-align: justify;
  padding-right: 1em;

  &::before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bg-color;
  }
}

.post-preview {
  --max-height-post-preview-mask: 44px;
  background-color: var(--color-white);

  position: relative;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xxs);
  }

  &__link {
    color: var(--color-black);
    &::before {
      content: " ";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__tutoriel-tag {
    /*position: absolute;
    top: var(--spacing-xs);
    right: var(--spacing-xs);*/
    background-color: #F8FA9B; // @todo: add to design token color
    border-radius: 2px;
  }

  &__excerpt {
    @include multi-line-ellipsis(1.5em, 3);
  }
}
