// scss-lint:disable ColorVariable
code,
pre {
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

code {
  background-color: rgba(0, 0, 0, .04);
  border-radius: 3px;
  padding: .25em .5rem;
}

pre {
  background-color: rgba(0, 0, 0, .04);
  display: block;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 1rem;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;

  @media (min-width: 480px) {
    font-size: 1.4rem;
  }

  @media (max-width: 480px) {
    font-size: 1.3rem;
  }

  code {
    background-color: transparent;
    color: inherit;
    font-size: 100%;
    padding: 0;
  }
  // base16-pygments (https://github.com/idleberg/base16-pygments/blob/master/css/base16-eighties.dark.css)
}

.highlight {
  background: #2d2d2d;
  border-radius: 3px;
  color: #f2f0ec;

  .hll {
    background-color: #515151;
  }

  .c {
    color: #747369;
  }

  // Comment
  .err {
    color: #f2777a;
  }

  // Error
  .k {
    color: #c9c;
  }

  // Keyword
  .l {
    color: #f99157;
  }

  // Literal
  .n {
    color: #f2f0ec;
  }

  // Name
  .o {
    color: #6cc;
  }

  // Operator
  .p {
    color: #f2f0ec;
  }

  // Punctuation
  .cm {
    color: #747369;
  }

  // Comment.Multiline
  .cp {
    color: #747369;
  }

  // Comment.Preproc
  .c1 {
    color: #747369;
  }

  // Comment.Single
  .cs {
    color: #747369;
  }

  // Comment.Special
  .gd {
    color: #f2777a;
  }

  // Generic.Deleted
  .ge {
    font-style: italic;
  }

  // Generic.Emph
  .gh {
    color: #f2f0ec;
    font-weight: bold;
  }

  // Generic.Heading
  .gi {
    color: #9c9;
  }

  // Generic.Inserted
  .gp {
    color: #747369;
    font-weight: bold;
  }

  // Generic.Prompt
  .gs {
    font-weight: bold;
  }

  // Generic.Strong
  .gu {
    color: #6cc;
    font-weight: bold;
  }

  // Generic.Subheading
  .kc {
    color: #c9c;
  }

  // Keyword.Constant
  .kd {
    color: #c9c;
  }

  // Keyword.Declaration
  .kn {
    color: #6cc;
  }

  // Keyword.Namespace
  .kp {
    color: #c9c;
  }

  // Keyword.Pseudo
  .kr {
    color: #c9c;
  }

  // Keyword.Reserved
  .kt {
    color: #fc6;
  }

  // Keyword.Type
  .ld {
    color: #9c9;
  }

  // Literal.Date
  .m {
    color: #f99157;
  }

  // Literal.Number
  .s {
    color: #9c9;
  }
  // Literal.String
  .na {
    color: #69c;
  }

  // Name.Attribute
  .nb {
    color: #f2f0ec;
  }

  // Name.Builtin
  .nc {
    color: #fc6;
  }

  // Name.Class
  .no {
    color: #f2777a;
  }

  // Name.Constant
  .nd {
    color: #6cc;
  }

  // Name.Decorator
  .ni {
    color: #f2f0ec;
  }

  // Name.Entity
  .ne {
    color: #f2777a;
  }

  // Name.Exception
  //
  .nf {
    color: #69c;
  }

  // Name.Function
  .nl {
    color: #f2f0ec;
  }

  // Name.Label
  .nn {
    color: #fc6;
  }

  // Name.Namespace
  .nx {
    color: #69c;
  }

  // Name.Other
  .py {
    color: #f2f0ec;
  }

  // Name.Property
  .nt {
    color: #6cc;
  }

  // Name.Tag
  .nv {
    color: #f2777a;
  }

  // Name.Variable
  .ow {
    color: #6cc;
  }

  // Operator.Word
  .w {
    color: #f2f0ec;
  }

  // Text.Whitespace
  .mf {
    color: #f99157;
  }

  // Literal.Number.Float
  .mh {
    color: #f99157;
  }

  // Literal.Number.Hex
  .mi {
    color: #f99157;
  }

  // Literal.Number.Integer
  .mo {
    color: #f99157;
  }

  // Literal.Number.Oct
  .sb {
    color: #9c9;
  }

  // Literal.String.Backtick
  .sc {
    color: #f2f0ec;
  }

  // Literal.String.Char
  .sd {
    color: #747369;
  }

  // Literal.String.Doc
  .s2 {
    color: #9c9;
  }

  // Literal.String.Double
  .se {
    color: #f99157;
  }

  // Literal.String.Escape
  .sh {
    color: #9c9;
  }

  // Literal.String.Heredoc
  .si {
    color: #f99157;
  }

  // Literal.String.Interpol
  .sx {
    color: #9c9;
  }

  // Literal.String.Other
  .sr {
    color: #9c9;
  }

  // Literal.String.Regex
  .s1 {
    color: #9c9;
  }

  // Literal.String.Single
  .ss {
    color: #9c9;
  }

  // Literal.String.Symbol
  .bp {
    color: #f2f0ec;
  }

  // Name.Builtin.Pseudo
  .vc {
    color: #f2777a;
  }

  // Name.Variable.Class
  .vg {
    color: #f2777a;
  }

  // Name.Variable.Global
  .vi {
    color: #f2777a;
  }

  // Name.Variable.Instance
  .il {
    color: #f99157;
  }

  // Literal.Number.Integer.Long
}
