@use '@/design-system/styles/abstracts' as *;

.last-tutorials-block {
  &__content {
    flex: 1;
  }

  &__post-list {
    display: grid; // @todo: add component for grid
    width: 100%;

    @include create-media-queries('md') {
      flex: 2;
    }
  }

  @include create-media-queries('md') {
    &__post-list {
      grid-template-columns: repeat(2, 1fr); // @todo: add component for grid
    }
  }
}
