@use '@eleven-labs/design-system/scss/abstracts' as *;

.autocomplete-field {
  position: var(--position-autocomplete, initial);

  @include create-media-queries('md') {
    --position-autocomplete: relative;
  }

  &__input {
    position: relative;
    z-index: 3;
  }
}
