@font-face {
  font-family: 'din';
  src: url($baseurl + '/fonts/din-light-webfont.woff2') format('woff2'), url($baseurl + '/fonts/din-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'din';
  src: url($baseurl + '/fonts/din_black-webfont.woff2') format('woff2'), url($baseurl + '/fonts/din_black-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family:'DINPro-Regular';
  src: url($baseurl + '/fonts/DINPro-Regular.woff2') format('woff2'), url($baseurl + '/fonts/DINPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
