// Korb
@font-face {
  font-family: 'Korb';
  src: url($baseurl + '/fonts/korb.woff2') format('woff2'), url($baseurl + '/fonts/korb.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// Worksans
@font-face {
  font-family: 'Worksans';
  src: url($baseurl + '/fonts/worksans-regular-webfont.woff2') format('woff2'), url($baseurl + '/fonts/worksans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Worksans';
  src: url($baseurl + '/fonts/Worksans-Bold.woff2') format('woff2'), url($baseurl + '/fonts/Worksans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
