// Typography
$font-family-main: Helvetica, Arial, sans-serif;
$font-family-headings:'DINPro-Regular', Helvetica, Arial, sans-serif;

$font-size: 19px;
$font-size-mobile: 16px;

// Padding
$padding-large: 20%;
$padding-small: 6%;
$padding-x-small: 3%;

// Colors
$alto: #d4d4d4;
$azure-radiance: #0096fb;
$dusty-gray: #999;
$gray: #808080;
$mine-shaft: #383838;
$shark: #323334;
$turbo: #fde300;
$white: #fff;

// Button
$button-hover: $dusty-gray;

// Brand colours
$brand-color: $white;
$background-color: $white;

$border-color: rgba(0, 0, 0, .1); // rgba recommended if using feature images
$title-level3-bg: rgba(0, 0, 0, .2);
$author-link: rgba(255, 255, 255, .6);

// Typography colours
$selection-color: $alto; // visible when highlighting text

// Header colours
$header-link-color: $mine-shaft;

// Eleven Labs colours
$brand-yellow: $turbo;
$brand-black: $shark;

// Feature image for articles
$feature-image-text-color: $white;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: $turbo;
$header-desc-text-color: $white;

// Layout
$max-width-layout: 960px;

// Breakpoints
$breakpoint-x-large: 1200px;
$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;
$breakpoint-x-small: 480px;
