// Typography
$font-family-dinpro: 'Dinpro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-korb: 'Korb', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-worksans: 'Worksans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

$font-family-main: $font-family-dinpro;
$font-family-article-headers: $font-family-korb;
$font-family-footer-title: $font-family-korb;
$font-family-header-big-text: $font-family-korb;
$font-family-language-switch: $font-family-korb;
$font-family-post-titles: $font-family-korb;
$font-family-article-link: $font-family-worksans;
$font-family-title-blog: $font-family-worksans;
$font-family-article-btn: $font-family-worksans;
$font-family-article-pagination: $font-family-worksans;
$font-family-article-texts: $font-family-worksans;
$font-family-button: $font-family-worksans;
$font-family-footer-contact: $font-family-worksans;
$font-size: 19px;
$font-size-mobile: 16px;

// Colours
$alto: #d8d8d8;
$alabaster:#f9f9f9;
$blue-gradient: linear-gradient(102deg, #0e3b81, #3a65b4);
$bright-sun: #fdd63b;
$casablanca: #f8bb4f;
$charcoal-grey: #333541;
$dark-indigo: #0d2857;
$dusty-grey: #999;
$scorpion: #5b5b5b;
$white: #fff;
$light-grey: #eee;

$background-footer: $blue-gradient;
$background-grey: $alabaster;
$background-lightgrey: $alabaster;
$background-white: $white;
$border-card: $alto;
$border-button-light: $alto;
$border-color: rgba(0, 0, 0, .1);
$brand-yellow: $casablanca;
$brand-black: $scorpion;
$brand-color: $white;
$cookie-banner-color: $light-grey;

// Feature image for articles
$feature-image-text-color: $white;
$feature-image-size: cover;

// Header description box
$header-desc-text-color: $white;

// Layout
$max-width-layout-large: 1024px;
$max-width-layout-x-large: 1130px;

// Breakpoints
$breakpoint-x-large: 1200px;
$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;
$breakpoint-x-small: 480px;

// Sizing in em
$browser-context: 19px;
