// Typography
$font-family-main: Helvetica, Arial, sans-serif;
$font-family-headings: 'din', Helvetica, Arial, sans-serif;
$font-size: 1.9rem;
$font-size-mobile: 1.6rem;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Button
$button-hover: #999;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, .1); // rgba recommended if using feature images

// Typography colours
$link-color: #0096fb;
$selection-color: #d4d4d4; // visible when highlighting text

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #fbe300;
$header-desc-text-color: #fff;

// brand colors
$brand-yellow: #fbe300;
$brand-black: #323334;

// layout
$max-width-layout: 960px;
