// Typography
$font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-headings:'DINPro-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-footer-big-text: 'Korb', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-footer-subtitle: 'WorkSans-Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-footer-title: 'Korb', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-button: 'Worksans-Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-footer-contact: 'Worksans-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-article-headers: 'Korb', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-article-texts: 'Worksans-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-article-btn: 'Worksans-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$language-switch: 'Korb', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-article-pagination-number: 'Worksans-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-article-pagination: 'Worksans-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

$font-size: 19px;
$font-size-mobile: 16px;

// Padding
$padding-large: 20%;
$padding-small: 6%;
$padding-x-small: 3%;

// Colours
$alto: #d4d4d4;
$white-grey:#f9f9f9;
$azure-radiance: #0096fb;
$dusty-gray: #999;
$gray: #808080;
$mine-shaft: #383838;
$shark: #323334;
$turbo: #ebc137;
$white: #fff;
$semi-transparent-black: rgba(0, 0, 0, .5);
$dark-indigo: #0d2857;
$light-grey: rgba(255, 255, 255, .33);
$blue-gradient: linear-gradient(102deg, #0e3b81, #3a65b4);
$background-gradient1:#edbe4a;
$background-gradient2:#e6ba3b;
$background-gradient3:#f5c736;

// Colours in the rework
$butterscotch: #f8bb4f;
$kinda-yellow: #f2c437;
$charcoal-grey: #333541;
$lightgrey-background: #f9f9f9;
$article-icons: #a8a8a8;
$card-border: #d8d8d8;
$separator-desktop-articles: #838383;

// Eleven Labs colours
$brand-yellow: $turbo;
$brand-black: $shark;

// Button
$button-hover: $shark;

// Brand colours
$brand-color: $white;
$background-color: $white;
$border-color: $light-grey;
$footer-background: $blue-gradient;

// Typography colours
$selection-color: $alto; // visible when highlighting text

// Feature image for articles
$feature-image-text-color: $white;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: $turbo;
$header-desc-text-color: $white;

// Layout
$max-width-layout-large: 1024px;
$max-width-layout-x-large: 1130px;

// Breakpoints
$breakpoint-x-large: 1200px;
$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;
$breakpoint-x-small: 480px;

// Sizing in em
$browser-context: 16px;
