// Typography
$font-family-korb: 'Korb', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-worksans: 'Worksans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

$font-family-main: $font-family-worksans;
$font-family-article-link: $font-family-worksans;
$font-family-title-blog: $font-family-worksans;
$font-family-article-btn: $font-family-worksans;
$font-family-article-pagination: $font-family-worksans;
$font-family-article-texts: $font-family-worksans;
$font-family-button: $font-family-worksans;
$font-family-footer-contact: $font-family-worksans;
$font-family-article-headers: $font-family-korb;
$font-family-footer-title: $font-family-korb;
$font-family-header-big-text: $font-family-korb;
$font-family-language-switch: $font-family-korb;
$font-family-post-titles: $font-family-korb;
$font-size: 18px;
$font-size-mobile: 15px;

// Colours
$alto: #d8d8d8;
$alabaster:#f9f9f9;
$blue-gradient: linear-gradient(102deg, #0e3b81, #3a65b4);
$bright-sun: #fdd63b;
$casablanca: #f8bb4f;
$charcoal-grey: #333541;
$dark-indigo: #0d2857;
$dusty-grey: #999;
$scorpion: #5b5b5b;
$white: #fff;
$gallery: #eee;
$gray99: #fcfcfc;
$gray79: #c9c9c9;
$gray80: #ccc;
$gray69: #b0b0b0;
$gray40: #666;
$dark-gray: #7a7a7a;

// New Colors
$bright-blue: #3767b6;
$red-light: #dd3156;
$black: #000;

// ----------------------------------------------------------------------------
// Material Colors
// ----------------------------------------------------------------------------

$clr-indigo-500: #3f51b5;
$clr-indigo-a200: #536dfe;
$clr-blue-a200: #448aff;
$clr-light-blue-a400: #00b0ff;
$clr-cyan-a700: #00b8d4;
$clr-teal-a700: #00bfa5;
$clr-green-a700: #00c853;
$clr-light-green-a700: #64dd17;
$clr-orange-a400: #ff9100;
$clr-red-a200: #ff5252;
$clr-red-a400: #ff1744;
$clr-pink-a400: #f50057;
$clr-deep-purple-a400: #d500f9;
$clr-grey: #9e9e9e;

$background-footer: $blue-gradient;
$background-grey: $alabaster;
$background-lightgrey: $alabaster;
$background-white: $white;
$border-card: $alto;
$border-button-light: $alto;
$border-color: rgba(0, 0, 0, .1);
$brand-yellow: $casablanca;
$brand-black: $scorpion;
$brand-color: $white;
$cookie-banner-color: $gallery;

// Feature image for articles
$feature-image-text-color: $white;
$feature-image-size: cover;

// Header description box
$header-desc-text-color: $white;

// Layout
$max-width-layout-large: 1024px;
$max-width-layout-x-large: 1130px;

// Breakpoints
$breakpoint-xx-large: 1400px;
$breakpoint-x-large: 1200px;
$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;
$breakpoint-x-small: 480px;

// Sizing in em
$browser-context: 19px;

// Admonition Icons
$admonition-abstract: '\ec2c';
$admonition-info: '\ebf8';
$admonition-success: '\eb53';
$admonition-question: '\ec52';
$admonition-warning: '\e902';
$admonition-failure: '\e999';
$admonition-danger: '\ed13';
$admonition-bug: '\ebd8';
$admonition-example: '\ebb2';
$admonition-quote: '\ea18';
$admonition-important: '\ebb4';
$admonition-tip: '\e991';
$admonition-note: '\e99d';
