// Typography
$font-family-main: Helvetica, Arial, sans-serif;
$font-family-headings:'DINPro-Regular', Helvetica, Arial, sans-serif;

$font-size: 1.9rem;
$font-size-mobile: 1.6rem;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Colors
$alto: #D4D4D4;
$azure-radiance: #0096FB;
$dusty-gray: #999999;
$gray: #808080;
$mine-shaft: #383838;
$shark: #323334;
$turbo: #FDE300;
$white: #FFFFFF;

// Button
$button-hover: $dusty-gray;

// Brand colours
$brand-color: $white;
$background-color: $white;
$border-color: rgba(0, 0, 0, .1); // rgba recommended if using feature images

$title-level3-bg: rgba(0, 0, 0, .2);
$author-link: rgba(255, 255, 255, .6);

// Typography colours
$selection-color: $alto; // visible when highlighting text

// Header colours
$header-link-color: $mine-shaft;

// Feature image for articles
$feature-image-text-color: $white;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: $turbo;
$header-desc-text-color: $white;

// brand colors
$brand-yellow: $turbo;
$brand-black: $shark;

// layout
$max-width-layout: 960px;
