.author-heading {
  padding-left: 6rem;
  padding-right: 6rem;
  text-shadow: none;
}

.author-social {
  ul {
    list-style: none;
  }

  li {
    display: inline;
    margin: 0 .6rem;
  }

  a {
    color: $brand-black;
    text-decoration: none;
  }
}
