.author {
  &__description {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.author-heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;

  &__name {
    @extend %h1;
    margin: 2rem 0;
  }
}
