.author-social {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1.5;
        text-align: center;
    }

    li {
        display: inline;
        margin-right: 0.4rem;
    }

    @media (max-width: 1100px) {
        ul {
            display: inline-block;
            width: 100%;
        }
    }
}
