.back-to-top {
  bottom: em(40px);
  display: flex;
  flex-direction: row;
  opacity: 0;
  position: fixed;
  right: em(40px);
  top: auto;
  transition: .2s ease;
  z-index: 1100;

  &--displayed {
    opacity: 1;
    transition: .2s ease;
  }

  @media (min-width: $breakpoint-medium) {
    display: none;
  }

  &__link {
    background-color: $background-yellow;
    border: 0;
    border-radius: em(30px);
    color: $white;
    font-family: $font-family-button;
    font-size: em(22px);
    padding: em(5px) em(10px);
    text-decoration: none;
  }
}
