.site-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 20px 45px;
    background: $brand-color;
    border-bottom: 1px solid $border-color;
    float: left;
    width: 100%;

    .branding {
        flex: auto;
        display: block;

        @media (max-width: 480px) {
            margin-bottom: 10px;
        }

        &:before {
            display: block;
            content: "";
            width: 160px;
            height: 60px;
            background: url('../img/logo_eleven_lab.svg') top left no-repeat;
            background-size: contain;

            @media (max-width: 480px) {
                margin: 0 auto;
            }
        }
    }

    a {
        color: $header-link-color;
    }

    .avatar {
        height: 2em;
        width: 2em;
        float: left;
        margin-top: -3px;
        border-radius: 0.2em;
        margin-right: 1em;
    }

    .site-title {
        float: left;
        font-weight: bold;
        font-size: 1em;
        line-height: 1.5;
    }

    .site-nav {
        ul {
            display: inline-block;
            text-align: center;
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 1.5;
        }

        li {
            display: inline-block;
            margin-right: 0.4em;
        }
    }

    .branding,
    .site-nav {
        @media (max-width: 480px) {
            flex: 0 0 100%;
            text-align: center;
        }
    }
}


/*
.search {
    display: block;
    background: $brand-black;
    color: #F5F5F5;

    @media (min-width: 480px) {
        margin-left: 15px;
    }

    @media (max-width: 480px) {
        margin-top: 10px;
    }
}*/
