.header {
  display: flex;
  flex-direction: column;
  height: em(240px);
  width: 100%;

  @media(min-width: $breakpoint-large) {
    height: em(230px);
  }

  &-links {
    display: flex;
    flex-direction: row;
    height: em(180px);
    width: 100%;

    @media(min-width: $breakpoint-large) {
      height: em(170px);
      justify-content: center;
    }

    &__logo-blog {
      display: none;

      @media(min-width: $breakpoint-large) {
        display: flex;
        font-family: $language-switch;
        margin: em(40px) 0 0 em(40px);
      }
    }

    &__title {
      margin: em(70px) auto 0;
      padding-left: em(70px);

      @media(min-width: $breakpoint-large) {
        margin-top: em(90px);
        padding-left: em(120px);
      }
    }

    &__acces-site {
      border: 0;
      display: flex;
      flex-direction: row;
      height: em(25px);
      justify-content: flex-start;

      @media(min-width: $breakpoint-large) {
        align-items: center;
        height: em(100px);
        width: em(350px);
      }
    }

    &__logo-eleven {
      margin: em(15px);

      @media(min-width: $breakpoint-large) {
        display: flex;
        margin: 0 0 0 em(170px);
      }
    }

    &__site-eleven {
      display: none;

      @media(min-width: $breakpoint-large) {
        color: $white;
        display: block;
        font-size: em(24px);
        margin: auto auto auto em(10px);
        text-decoration: none;
      }
    }
  }
}

.header-bottom {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: em(60px);
  justify-content: flex-end;
  width: 100%;

  @media(min-width: $breakpoint-large) {
    height: em(85px);
  }

  &__social {
    display: none;

    @media(min-width: $breakpoint-large) {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: em(-10px) em(30px) 0 0;

      &__icon {
        height: em(20px);
        margin-left: em(35px);
        width: em(10px);
      }

      &__link,
      &__link:visited {
        color: $white;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__langs {
    font-family: $language-switch;
    font-size: em(24px);
    margin: em(20px) em(16px) em(20px) 0;
    text-transform: capitalize;

    @media(min-width: $breakpoint-large) {
      margin: 0 em(45px) 0 em(19px);
    }

    &__link,
    &__link:visited {
      color: $white;
      text-decoration: none;
    }
  }

  &__search-icon {
    margin: em(20px) em(19px) em(20px) auto;

    @media(min-width: $breakpoint-medium) {
      margin: em(20px) em(19px) em(20px) auto;
    }

    @media(min-width: $breakpoint-large) {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      margin: 0 em(20px);
      text-decoration: none;
    }
  }

  &__search-label {
    display: none;

    &:visited {
      color: $white;
    }

    @media(min-width: $breakpoint-large) {
      color: $white;
      display: block;
      font-family: $language-switch;
      font-size: em(24px);
      line-height: .7;
      margin-right: em(10px);
    }
  }

  &__headband {

    &--not-displayed {
      display: none;
    }

    &--displayed {
      color: $dusty-gray;
      display: block;
      height: em(50px);
      line-height: 2.5;
      position: absolute;
      width: 100%;

      @media(min-width: $breakpoint-large) {
        height: em(55px);
        margin: em(16px) auto auto 0;
      }
    }
  }

  &__close-search {
    color: $white;
    float: right;
    height: em(20px);
    margin-top: em(-35px);
    width: em(50px);

    &:hover {
      background: transparent;
    }

    @media(min-width: $breakpoint-large) {
      color: $white;
      float: right;
      height: em(25px);
      margin-top: em(-50px);
      width: em(100px);
    }
  }
}
