.site-header {
  align-items: center;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  flex-flow: row wrap;
  padding: 1.25rem 2.5rem;
  width: 100%;

  @media (min-width: $breakpoint-medium) {
    padding: 2rem 6rem;
  }

  .branding-container {
    flex: auto;
  }

  .branding {
    background-color: transparent;
    display: inline-block;
    position: relative;
    width: 12rem;

    @media (min-width: $breakpoint-medium) {
      width: 16rem;
    }

    svg {
      fill: $brand-black;
      max-width: 100%;
    }

    span {
      bottom: 0;
      color: $brand-black;
      font-family: $font-family-headings;
      font-size: 1.3rem;
      font-weight: 700;
      position: absolute;
      text-transform: uppercase;

      @media (max-width: $breakpoint-medium) {
        font-size: 1.1rem;
        line-height: 1.1;
        right: 1rem;
      }

      @media (min-width: $breakpoint-medium) {
        font-size: 1.3rem;
        right: 1.5rem;
      }
    }
  }

  a {
    color: $header-link-color;
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
  }

  .avatar {
    border-radius: .2rem;
    float: left;
    height: 2rem;
    margin-right: 1rem;
    margin-top: -3px;
    width: 2rem;
  }

  .site-title {
    float: left;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
  }

  .site-nav {
    ul {
      display: inline-block;
      line-height: 1.5;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    li {
      display: inline-block;
    }

    .language {
      border-left: 1px solid $header-link-color;
      margin-left: .4rem;
      padding-left: .8rem;

      @media (max-width: $breakpoint-x-small) {
        margin-right: .4rem;
      }
    }

    .corporate-logo {
      position: relative;
      top: .3rem;
    }
  }

  .branding-container,
  .search-bar,
  .site-nav {
    @media (max-width: $breakpoint-x-small) {
      flex: 0 0 100%;
      text-align: center;
    }
  }
}
