.post-content {
  @media (max-width: $breakpoint-medium) {
    padding-top: 1rem;
  }

  @media (min-width: $breakpoint-medium) {
    padding-top: 3rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    a {
      color: $brand-black;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    @extend %h1;

    @media (min-width: $breakpoint-x-small) {
      margin: 2em 0 .7em -15px;
    }

    @media (max-width: $breakpoint-x-small) {
      margin: 2em 0 .7em;
    }
  }

  h2 {
    @extend %h2;
    background-color: $brand-yellow;
    display: inline-block;
    padding: .6rem 1.2rem;

    @media (min-width: $breakpoint-x-small) {
      margin: 5rem 0 2.5rem -1.2rem;
    }

    @media (max-width: $breakpoint-x-small) {
      margin: 3rem 0 1.5rem -1rem;
    }
  }

  h3 {
    @extend %h3;
    background-color: $title-level3-bg;
    margin: 3rem 0 2rem;
  }

  h4 {
    @extend %h4;
    margin: 3rem 0 2rem;
  }

  blockquote {
    border-left: 5px solid $brand-yellow;
    font-style: italic;
    margin: 3rem 0;
    opacity: .8;
    padding-left: 2rem;
  }

  pre {
    margin: 3rem 0;
    padding: 1.5rem;
  }

  ul {
    list-style-position: initial;
    margin-left: 2.25rem;
  }

  li {
    padding-left: 0.5rem;
  }
}
