.offline-ready {
  background-color: $brand-black;
  bottom: 0;
  color: $brand-color;
  height: 34px;
  padding: 5px;
  position: fixed;
  text-align: center;
  transform: translateY(35px);
  transition: transform 1s;
  width: 100%;

  &.active {
    transform: translateY(0);
  }
}
