.share-buttons {
  background-color: $brand-black;
  border: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 230px;
  width: 50px;
  z-index: 1100;

  a {
    cursor: pointer;
    display: block;
    height: 50px;
    text-decoration: none;
    transition: all .25s ease-in-out;
  }
}
