.share-buttons {
  background-color: $brand-color;
  border: 1px solid $brand-black;
  display: flex;
  list-style-type: none;
  position: fixed;
  z-index: 1100;

  @media screen and (min-width: $breakpoint-large) and (max-height: 660px) {
    top: 35vh;
  }

  @media screen and (max-width: $breakpoint-large) {
    border-bottom: 0;
    border-left: 1px solid $brand-black;
    bottom: 0;
    flex-direction: row;
    left: calc(50vw - 8rem);
    top: auto;
  }

  @media screen and (min-width: $breakpoint-large) {
    border-bottom: 1px solid $brand-black;
    border-left: 0;
    bottom: auto;
    flex-direction: column;
    left: 0;
    top: em(300px);
  }

  &__one {
    color: $dusty-grey;
    cursor: pointer;
    height: em(35px);
    line-height: 2.2;
    text-align: center;
    transition: all .25s ease-in-out;
    width: em(40px);

    &:hover,
    &:visited:hover {
      background-color: $brand-black;
      color: $brand-color;
    }

    &:visited {
      color: $brand-black;
    }
  }
}
