@use '@/design-system/styles/abstracts' as *;

.pagination {
  --item-size-pagination: 48px;
  --border-color-pagination: #{map-get-strict($token-variables, 'color', 'secondary-dark')};

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--item-size-pagination);
    width: var(--item-size-pagination);
    border-top: 1px solid var(--border-color-pagination);
    border-right: 1px solid var(--border-color-pagination);
    border-bottom: 1px solid var(--border-color-pagination);
    color: #{map-get-strict($token-variables, 'color', 'primary-dark')};

    &--active {
      color: #{map-get-strict($token-variables, 'color', 'info')};
    }

    &--disabled {
      color: #{map-get-strict($token-variables, 'color', 'grey')};
    }

    &:first-child {
      border-left: 1px solid var(--border-color-pagination);

      svg {
        transform: rotate(180deg);
      }
    }
  }
}
