@use 'sass:map';
@use '../abstracts' as *;

$display-list: map.get($css-properties, 'display');
$width-list: map.get($token-variables, 'width');
$height-list: map.get($token-variables, 'height');
$layout-prop-list: (
  'display':  (
    'prefix-class-name': 'display',
    'property-css': 'display',
    'value-list': $display-list,
  ),
  'width': (
    'prefix-class-name': 'width',
    'property-css': 'width',
    'value-list': $width-list,
  ),
  'height': (
    'prefix-class-name': 'height',
    'property-css': 'height',
    'value-list': $height-list,
  ),
);

/*
 * Layout System Class Names
 */
@include system-classes-with-breakpoints($layout-prop-list);

@each $breakpoint-name, $breakpoint-value in map.get($token-variables, 'breakpoint') {
  @include create-media-queries($breakpoint-name, 'min') {
    .hidden-above\@#{$breakpoint-name} {
      display: none !important;
    }
  }

  @include create-media-queries($breakpoint-name, 'max') {
    .hidden-below\@#{$breakpoint-name} {
      display: none !important;
    }
  }
}
