@use 'sass:map';
@use '../abstracts' as *;

$spacing-list: map.get($token-variables, 'spacing');
$spacing-list-with-auto: map.merge($spacing-list, ('auto': 'auto'));
$margin-prop-list: (
  'm':  (
    'prefix-class-name': 'm',
    'property-css': 'margin',
    'value-list': $spacing-list-with-auto,
  ),
  'mt': (
    'prefix-class-name': 'mt',
    'property-css': 'margin-top',
    'value-list': $spacing-list-with-auto,
  ),
  'mr': (
    'prefix-class-name': 'mr',
    'property-css': 'margin-right',
    'value-list': $spacing-list-with-auto,
  ),
  'mb': (
    'prefix-class-name': 'mb',
    'property-css': 'margin-bottom',
    'value-list': $spacing-list-with-auto,
  ),
  'ml': (
    'prefix-class-name': 'ml',
    'property-css': 'margin-left',
    'value-list': $spacing-list-with-auto,
  ),
  'mx': (
    'prefix-class-name': 'mx',
    'property-css': ('margin-left', 'margin-right'),
    'value-list': $spacing-list-with-auto,
  ),
  'my': (
    'prefix-class-name': 'my',
    'property-css': ('margin-top', 'margin-bottom'),
    'value-list': $spacing-list-with-auto,
  ),
);
$padding-prop-list: (
  'p':  (
    'prefix-class-name': 'p',
    'property-css': 'padding',
    'value-list': $spacing-list,
  ),
  'pt': (
    'prefix-class-name': 'pt',
    'property-css': 'padding-top',
    'value-list': $spacing-list,
  ),
  'pr': (
    'prefix-class-name': 'pr',
    'property-css': 'padding-right',
    'value-list': $spacing-list,
  ),
  'pb': (
    'prefix-class-name': 'pb',
    'property-css': 'padding-bottom',
    'value-list': $spacing-list,
  ),
  'pl': (
    'prefix-class-name': 'pl',
    'property-css': 'padding-left',
    'value-list': $spacing-list,
  ),
  'px': (
    'prefix-class-name': 'px',
    'property-css': ('padding-left', 'padding-right'),
    'value-list': $spacing-list,
  ),
  'py': (
    'prefix-class-name': 'py',
    'property-css': ('padding-top', 'padding-bottom'),
    'value-list': $spacing-list,
  ),
);

/*
 * Spacing System Class Names
 */
@include system-classes-with-breakpoints($margin-prop-list);
@include system-classes-with-breakpoints($padding-prop-list);
