.close-button {
  position: relative;
  border: none;
  background: none;
  height: 30px;
  width: 30px;

  &__line {
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    top: 50%;
    background: var(--color-azure);

    &--horizontal {
      transform: rotate(45deg);
    }

    &--vertical {
      transform: rotate(-45deg);
    }
  }
}
