// Header text feature
.call-out {
  @extend %padding-regular;
  background-color: $header-desc-background-color;
  background-size: cover;
  color: $header-desc-text-color;
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}

.home-logo {
  display: inline-block;
  margin: 1rem 0;
  position: relative;
  width: 100%;

  svg {
    fill: $brand-black;
    max-width: 100%;
  }
}

.home-title {
  bottom: 1vw;
  color: $brand-black;
  font-family: $font-family-headings;
  font-size: 5vw;
  font-weight: 700;
  position: absolute;
  right: 8vw;
  text-transform: uppercase;

  @media (min-width: $breakpoint-large) {
    bottom: 0;
    right: 6vw;
  }
}

.offline-ready {
  background-color: $brand-black;
  bottom: 0;
  color: $brand-color;
  height: 34px;
  padding: 5px;
  position: fixed;
  text-align: center;
  transform: translateY(35px);
  transition: transform 1s;
  width: 100%;

  &.active {
    transform: translateY(0);
  }
}

// Post listing
.posts {

  &-title {
    @extend %h2;
    margin-bottom: .6rem;

    a {
      color: $brand-black;
      text-decoration: none;
    }
  }

  &-date {
    display: inline-block;
    margin-bottom: 1.2rem;
  }

  &-button {
    margin-top: 1.5rem;
  }

  .excerpt {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
}
// Pagination
.pagination {
  padding: $padding-small $padding-large 0;
  text-align: center;

  .button {
    margin: 0 1.5rem;

    i {
      vertical-align: middle;
    }
  }
}
