.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home {
  flex-grow: 1;
}

.article-container {
  background-color: $background-lightgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 em(10px) em(10px);
  padding-bottom: em(10px);

  @media(min-width: $breakpoint-medium) {
    background-color: $white;
    padding: 0 15%;
  }
}

.pagination {
  align-items: baseline;
  display: flex;
  flex-basis: 80%;
  flex-wrap: wrap;
  font-family: $font-family-article-pagination;
  font-weight: 400;
  justify-content: center;
  margin: em(35px) 0;

  &__current {
    font-weight: bold;
  }

  &__number {
    color: $charcoal-grey;
    font-size: em(16px);
    margin: 0 em(5px);
    text-decoration: none;
  }

  &__previous {
    color: $charcoal-grey;
    font-size: em(12px);
    letter-spacing: em(4.57px);
    margin-right: em(5px);
    text-decoration: none;
    text-transform: uppercase;
  }

  &__next {
    color: $charcoal-grey;
    font-size: em(12px);
    letter-spacing: em(4.57px);
    margin-left: em(5px);
    text-decoration: none;
    text-transform: uppercase;
  }
}

.article-preview {
  background-color: $white;
  border: solid 1px $border-card;
  border-radius: 2px;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  margin-top: em(15px);
  padding: 0 em(30px);
  padding-bottom: em(15px);

  @media(min-width: $breakpoint-medium) {
    border: 0;
  }

  // Top part of the header
  &__header {
    display: flex;
    flex-direction: column;
    margin-top: em(13px);

    @media(min-width: $breakpoint-medium) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__social-icons-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;

    @media(min-width: $breakpoint-medium) {
      display: none;
    }
  }

  &__social-icon {
    color: $dusty-grey;
    height: em(14px);
    margin: 0 em(6px);
    width: em(14px);
  }

  &__social-icon-link {
    color: $dusty-grey;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $dusty-grey;
    }
  }

  &__title {
    font-family: $font-family-article-headers;
    font-size: em(28px);
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    margin-top: em(23px);

    @media(min-width: $breakpoint-medium) {
      flex-basis: 80%;
      margin-top: 0;
    }
  }

  &__title-link {
    color: $charcoal-grey;
    text-decoration: none;

    &:link {
      color: $charcoal-grey;
    }

    &:visited {
      color: $charcoal-grey;
    }

    &:hover {
      color: $charcoal-grey;
    }

    &:active {
      color: $charcoal-grey;
    }
  }

  // Metadata part
  &__metadatas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: $font-family-article-texts;
    font-size: em(16px);
    font-weight: 400;
    margin-top: em(13px);

    @media(min-width: $breakpoint-medium) {
      display: block;
    }
  }

  &__post-date {
    color: $casablanca;
  }

  &__read-time {
    color: $casablanca;
    margin-left: em(14px);

    &::before {
      content: '|';
      margin-right: em(14px);
    }
  }

  &__authors {
    color: $casablanca;
    display: inline-block;

    @media(min-width: $breakpoint-medium) {
      margin-left: em(14px);
      margin-top: 0;

      &::before {
        content: '|';
        margin-right: em(14px);
      }
    }
  }

  &__author-link {
    color: $casablanca;
    font-family: $font-family-article-btn;
    font-weight: 400;
    text-decoration: underline;

    &:link,
    &:visited,
    &:active {
      color: $casablanca;
    }

    &:hover {
      color: $casablanca;
      text-decoration: none;
    }
  }

  &__excerpt {
    margin-top: 19px;

    a {
      color: $scorpion;
      font-family: $font-family-article-link;
      font-weight: 700;
      padding-bottom: .3rem;
      text-decoration: underline;
      transition: background-size .1s;
    }

    a:hover {
      background-size: 3px 25px;
      text-decoration: none;
    }
  }
}

.separator-line {
  background-color: $alto;
  border: 0;
  display: none;
  height: 1px;
  margin: em(10px) em(30px);
  width: 100%;

  @media(min-width: $breakpoint-medium) {
    display: block;
  }
}

.tag-container {
  margin-bottom: 43px;
}

.all-tag-container {
  justify-content: space-between;
  margin-bottom: 25px;
}
