.comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}

article {
  header {
    text-align: center;
  }

  a:hover {
    @extend %link-hover;
  }

  .footnotes {
    font-size: .9rem;
  }
}

.feature-image {
  padding: 0;

  .post-link {
    color: $feature-image-text-color;
  }

  header {
    background-position-x: center;
    background-size: $feature-image-size;
    color: $feature-image-text-color;
    margin-bottom: 0;
    padding: $padding-large / 2 $padding-small;

    @media (min-width: 1024px) {
      padding: $padding-large / 2.5 $padding-large;
    }
 
    .meta::before {
      background-color: transparent;
    }

    .author-link {
      background-color: $author-link;
      color: $brand-black;
      display: inline-block;
      line-height: 1;
      padding: .2rem .5rem;
      text-decoration: none; 
      text-shadow: none;

      &:hover {
        background-color: $brand-yellow;
        color: $brand-black; 
      }
    }
  }
}

// Post navigation
.post-nav {
  border-bottom: 1px solid $border-color;
  display: flex;
  float: left;
  width: 100%;

  .page-title,
  a {
    display: inline-block;
  }

  .page-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  i {
    vertical-align: middle;
  }
}

.center-image {
  display: block;
  margin: 0 auto;

  img {
    display: block;
    margin: 0 auto;
  }
}
