@use '@/design-system/styles/abstracts' as *;

.close-button {
  --size-close-button: 30px;
  --color-close-button: #{map-get-strict($token-variables, 'color', 'primary')};

  &--secondary {
    --size-close-button: 20px;
    --color-close-button: #{map-get-strict($token-variables, 'color', 'grey')};
  }

  position: relative;
  border: none;
  background: none;
  height: var(--size-close-button);
  width: var(--size-close-button);

  &__line {
    position: absolute;
    width: var(--size-close-button);
    height: 2px;
    left: 0;
    top: 50%;
    background: var(--color-close-button);

    &--horizontal {
      transform: rotate(45deg);
    }

    &--vertical {
      transform: rotate(-45deg);
    }
  }
}
