@use '@/design-system/styles/abstracts' as *;

@mixin newsletter-variant($this, $variant: 'vertical') {
  $spacing: #{map-get-strict($token-variables, 'spacing', 'xl')};
  $border: 1px solid rgb(0 0 0 / 20%);

  @if $variant == 'horizontal' {
    flex-direction: row;
  } @else {
    flex-direction: column;
  }

  #{$this}__intro {
    flex: 1;

    @if $variant == 'vertical' {
      padding-bottom: $spacing;
      border-bottom: $border;
      margin-bottom: $spacing;
    } @else if $variant == 'horizontal' {
      padding-right: $spacing;
      border-right: $border;
      margin-right: $spacing;
    }
  }
}

.newsletter-card {
  $this: &;

  border-radius: 4px;
  background-image: url('/imgs/wave-background.png');
  background-repeat: no-repeat;
  background-position: right bottom;

  @include create-media-queries('md', 'max') {
    @include newsletter-variant($this, 'vertical');
  }

  &--vertical {
    @include newsletter-variant($this, 'vertical');
  }

  @include create-media-queries('md') {
    &--horizontal {
      @include newsletter-variant($this, 'horizontal');
    }
  }

  &__form {
    flex: 2;
  }
}
