/* stylelint-disable selector-class-pattern */
@use '@/design-system/styles/abstracts' as *;

.mauticform_wrapper {
  --color-error: red;

  font-size: map-get-strict($token-variables, 'typography', 'text', 's', 'font-size');

  .mauticform-row {
    display: flex;
    flex-direction: column;
  }

  .mauticform-checkboxgrp-row {
    display: flex;
    gap: #{map-get-strict($token-variables, 'spacing', 's')};
    margin-top: #{map-get-strict($token-variables, 'spacing', 'm')};

    input {
      margin-top: #{map-get-strict($token-variables, 'spacing', 'xxs-2')};
    }

    label {
      flex: 1;
    }
  }

  .mauticform-label {
    text-transform: uppercase;
    font-weight: #{map-get-strict($token-variables, 'font-weight', 'medium')};
  }

  .mauticform-required {
    .mauticform-label {
      &::after {
        color: var(--color-error);
        content: " *";
        display: inline;
      }
    }
  }

  .mauticform-errormsg {
    margin-top: #{map-get-strict($token-variables, 'spacing', 'xxs')};
    color: var(--color-error);
  }

  .mauticform-input {
    color: white;
    padding: #{map-get-strict($token-variables, 'spacing', 's')} #{map-get-strict($token-variables, 'spacing', 'm')};
    background-color: transparent;
    border: 1px solid #{map-get-strict($token-variables, 'color', 'accent')};
    border-radius: 100px;

    &:focus {
      outline: 0;
      border-color: white;
    }
  }

  input[type="checkbox"] {
    appearance: none;
    margin: calc(0.15em * 2) 0 0;
    font: inherit;
    color: currentcolor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentcolor;
    border-color: #{map-get-strict($token-variables, 'color', 'accent')};
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;

    &::before {
      color: #FFF;
      content: "";
      width: 0.65em;
      height: 0.65em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #{map-get-strict($token-variables, 'color', 'accent')};
      background-color: CanvasText;
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  a {
    color: white;
    text-decoration: underline;
  }

  .mauticform-button-wrapper .mauticform-button.btn-default {
    margin-top: #{map-get-strict($token-variables, 'spacing', 'l')};
    padding: #{map-get-strict($token-variables, 'spacing', 's')} #{map-get-strict($token-variables, 'spacing', 'm')};
    background-color: #{map-get-strict($token-variables, 'color', 'accent')};
    border: none;
    font-weight: #{map-get-strict($token-variables, 'font-weight', 'bold')};
    color: #{map-get-strict($token-variables, 'color', 'primary')};
    text-transform: uppercase;
    border-radius: 100px;
  }
}
