@use '@/design-system/styles/abstracts' as *;

.post-metadata {
  &--primary {
    font-family: #{map-get-strict($token-variables, 'font-family', 'heading')};
    color: #{map-get-strict($token-variables, 'color', 'info')};
    font-weight: #{map-get-strict($token-variables, 'font-weight', 'bold')};
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &--secondary {
    color: #{map-get-strict($token-variables, 'color', 'primary')};
    font-weight: #{map-get-strict($token-variables, 'font-weight', 'semi-bold')};
  }

  &__date {
    min-width: max-content;
  }
}
