@use '@/design-system/styles/abstracts' as *;

.button {
  $this: &;

  background: var(--background-color-button, map-get-strict($token-variables, 'color', 'info'));
  color: var(--color-button, white);
  font-family: map-get-strict($token-variables, 'font-family', 'heading');
  font-size: map-get-strict($token-variables, 'typography', 'text', 's', 'font-size');
  letter-spacing: 1px;
  border-width: var(--border-width-button, 0);
  border-style: solid;
  border-color: var(--border-color-button, transparent);
  border-radius: var(--border-radius-button, 100px);
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }

  &--primary {
    &[disabled] {
      --background-color-button: #{map-get-strict($token-variables, 'color', 'dark-grey')};
    }
  }

  &--secondary {
    --background-color-button: white;
    --color-button: #{map-get-strict($token-variables, 'color', 'info')};
    --border-width-button: 2px;

    &:hover {
      --border-color-button:  #{map-get-strict($token-variables, 'color', 'info')};
    }

    &[disabled] {
      --border-color-button: #{map-get-strict($token-variables, 'color', 'dark-grey')};
    }
  }

  &--accent {
    --background-color-button: #{map-get-strict($token-variables, 'color', 'accent')};
    --color-button: #{map-get-strict($token-variables, 'color', 'primary')};
  }
}
