@use '@eleven-labs/design-system/scss/abstracts' as *;

.header {
  position: relative;
  &__logo {
    font-size: var(--header-logo-size, 2rem);

    @include create-media-queries('md') {
    --header-logo-size: 2.75rem;
    }
  }

  &__separator {
    width: 1px;
    background-color: #3E3E3E; // @todo: add to design token color
  }

  &__menu {
    display: flex;
    text-transform: uppercase;
  }

  @include create-media-queries('md', 'max') {
    &__menu {
      display: none;
      position: fixed;
      z-index: 10;
      flex-direction: column;
      top: 80px;
      bottom: 0;
      background: white;
      left: 0;
      width: 100%;
      border-top: 0.5px solid #C5D3E9; // @todo: add to design token color
      &--is-open {
        display: flex;
      }
    }
    &__menu-item {
        padding: var(--spacing-xs) var(--spacing-m);
        color: var(--color-black);
        border-bottom: 0.5px solid #C5D3E9; // @todo: add to design token color
    }
  }

  @include create-media-queries('md') {
    &__menu {
      gap: var(--spacing-xl);
      font-weight: var(--font-weight-bold);
    }
  }
}
