@use '@/design-system/styles/abstracts' as *;

.author-page {
  --avatar-img-author-page: 120px;

  &__avatar-img {
    border-radius: 100%;
    height: var(--avatar-img-author-page);
    width: var(--avatar-img-author-page);

    &--empty {
      background-image: url('/imgs/astronaut.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__divider {
    width: var(--divider-width-author-page, 120px);

    @include create-media-queries('md', 'min') {
      --divider-width-author-page: 300px;
    }
  }

  &__social_networks {
    .icon {
      border-radius: 6px;
    }
  }
}
