@use '@eleven-labs/design-system/scss/abstracts' as *;

.author-page {
  --avatar-img-author-page: 120px;

  &__empty-avatar-img, &__avatar-img {
    height: var(--avatar-img-author-page);
    width: var(--avatar-img-author-page);
  }

  &__avatar-img {
    border-radius: 100%;
    background-color: var(--color-light-grey);
  }

  &__divider {
    width: var(--divider-width-author-page, 120px);

    @include create-media-queries('md', 'min') {
      --divider-width-author-page: 300px;
    }
  }

  &__social_networks {
    .icon {
      border-radius: 6px;
    }
  }
}
