.contact-block {
  background-image: url('/imgs/contact-background.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 4px;
  &__container {
    max-width: 560px;
  }
}
