@use "@eleven-labs/design-system/scss/abstracts" as *;

ol.stepper {
  --tutorial-step-size: var(--spacing-l); /* size of circle */
  --stepper-light: var(--color-white);
  --stepper-azure: var(--color-azure);
  --stepper-dashed-bar: 2px; /* line thickness */
  --stepper-top-line: 20%;
}
// Organize and distribute step elements
ol.stepper {
  display: flex;
  align-items: flex-start;
  list-style: none;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0;
  counter-reset: step;
  text-align: center;

  // Step element structure
  li {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
  }

  li:not(:last-child),
  li:not(:first-child) {
    margin: 0 0.25rem;
  }

  // Create step circle, set number inside step, set active styles
  li::before {
    content: counter(step) " ";
    counter-increment: step;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 2px;
    width: var(--tutorial-step-size);
    height: var(--tutorial-step-size);
    background: var(--stepper-azure);
    border: 2px solid var(--stepper-azure);
    color: var(--stepper-light);
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 1;
  }
  // Keep not-selected elements with default style
  li.active ~ li::before {
    background: var(--stepper-light);
    color: var(--stepper-azure);
  }

  // set up for horizontal line
  li::after {
    content: "";
    order: -1;
  }

  //draw solid line
  li:not(:last-child):after {
    position: relative;
    top: 1.4rem;
    left: 50%;
    border: var(--stepper-dashed-bar) solid var(--stepper-azure);
  }

  //draw dashed line
  li.active::after,
  li.active ~ li:not(:last-child):after {
    border: var(--stepper-dashed-bar) dashed var(--stepper-azure);
  }

  // Desktop display
  @include create-media-queries("md") {
    flex-direction: column;

    li {
      flex-direction: row;
      gap: 0px;
      align-items: center;
      margin: 0;
    }

    // Add space with text on the right
    li::before {
      margin: 0 12px 0 0;
    }

    // adjustments for vertical line
    li:last-child {
      padding-left: var(--stepper-dashed-bar);
    }

    li:not(:last-child) {
      padding-bottom: var(--tutorial-step-size);
      &:after {
        position: inherit;
        transform: translateX(1.1rem) translateY(var(--tutorial-step-size));
        height: var(--tutorial-step-size);
      }
    }
  }
}

.tutorial-steps {
  &__bold {
    font-weight: var(--font-weight-bold);
  }
}

.tutorial-steps {
  $this: &;

  --tutorial-steps-background: #d7e6ff;
  --tutorial-steps-color: var(--color-ultra-dark-grey);
  --tutorial-steps-color-step: var(--color-azure);
  --tutorial-steps-color-number-color: var(--color-white);
  --tutorial-steps-number-background: var(--color-azure);
  --tutorial-steps-number-size: var(--spacing-l);
  --tutorial-steps-connector-size: var(--spacing-l);
  --tutorial-step-connector-background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="2" viewBox="0 0 2 2" fill="none"><path d="M1 0.5V42.5" stroke="%233767B6" stroke-dasharray="2 2"/></svg>');

  position: relative;
  background: var(--tutorial-steps-background);
  color: var(--tutorial-steps-color);
  padding: var(--spacing-l) var(--spacing-s) var(--spacing-s);
  border-radius: 4px;

  &__step {
    display: flex;
    align-items: baseline;

    > a {
      color: var(--tutorial-steps-color);
    }
    &--active {
      #{$this}__text {
        font-weight: var(--font-weight-bold);
      }
    }
    &--active ~ #{$this}__step {
      #{$this}__number {
        --tutorial-steps-number-background: var(--color-white);
        --tutorial-steps-color-number-color: var(--color-azure);
      }
    }
    &--active,
    &--active ~ #{$this}__step {
      #{$this}__connector {
        margin-top: 16px;
        border-top: 2px dashed var(--tutorial-steps-color-step);
      }
    }

    @include create-media-queries("md") {
      display: block;
      &--active,
      &--active ~ #{$this}__step {
        #{$this}__connector {
          margin-top: 0;
          border-top: 0;
          margin-left: 16px;
          border-left: 2px dashed var(--tutorial-steps-color-step);
        }
      }
    }
  }

  &__tag {
    position: absolute;
    left: 0;
    right: 0;
    top: -12px;
    width: fit-content;

    @include create-media-queries("md") {
      width: auto;
    }
  }

  &__number {
    width: var(--tutorial-steps-number-size);
    height: var(--tutorial-steps-number-size);
    border: 2px solid var(--tutorial-steps-color-step);
    color: var(--tutorial-steps-color-number-color);
    background-color: var(--tutorial-steps-number-background);
    border-radius: 50%;
  }
  &__connector {
    width: var(--tutorial-steps-connector-size);
    margin-top: 14px;
    border-top: 4px solid var(--tutorial-steps-color-step);

    @include create-media-queries("md") {
      height: var(--tutorial-steps-connector-size);
      margin-top: 0;
      border-top: 0;
      margin-left: 14px;
      border-left: 4px solid var(--tutorial-steps-color-step);
    }
  }
}
