@use '@eleven-labs/design-system/scss/abstracts' as *;

.tutorial-steps {
  $this: &;

  --tutorial-steps-background: #D7E6FF;
  --tutorial-steps-color: var(--color-ultra-dark-grey);
  --tutorial-steps-color-step: var(--color-azure);
  --tutorial-steps-color-number-color: var(--color-white);
  --tutorial-steps-number-background: var(--color-azure);
  --tutorial-steps-number-size: var(--spacing-l);
  --tutorial-steps-connector-size: var(--spacing-l);
  --tutorial-step-connector-background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="2" height="2" viewBox="0 0 2 2" fill="none"><path d="M1 0.5V42.5" stroke="%233767B6" stroke-dasharray="2 2"/></svg>');

  position: relative;
  background: var(--tutorial-steps-background);
  color: var(--tutorial-steps-color);
  padding: var(--spacing-l) var(--spacing-s) var(--spacing-s);
  border-radius: 4px;

  &__step {
    position: relative;
    &:not(:last-child) {
      padding-bottom: var(--spacing-m);
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 16px;
      height: 100%;
      border-left: 2px solid var(--tutorial-steps-color-step);
    }

    > a {
      color: var(--tutorial-steps-color);
    }
    &--active {
      #{$this}__text {
        font-weight: var(--font-weight-bold);
      }
    }
    &--active ~ #{$this}__step {
      #{$this}__number {
        --tutorial-steps-number-background: var(--color-white);
        --tutorial-steps-color-number-color: var(--color-azure);
      }
    }
  }

  &__tag {
    position: absolute;
    left: 0;
    right: 0;
    top: -12px;
  }

  &__number {
    position: relative;
    z-index: 1;
    width: var(--tutorial-steps-number-size);
    height: var(--tutorial-steps-number-size);
    border: 2px solid var(--tutorial-steps-color-step);
    color: var(--tutorial-steps-color-number-color);
    background-color: var(--tutorial-steps-number-background);
    border-radius: 50%;
  }
}
