---
layout: default
---
<article>
    <header class="page-heading">
        <div class="avatar">
            <img class="avatar-img" src="{{ '/img/authors/:author.jpg' | prepend: site.baseurl_root | replace: '//', '/' | replace: ':author', page.login }}"/>
        </div>
        <h1 class="page-heading-title">{{ page.title }}</h1>
        <div class="author-social">
            <ul>
                {% include icons.html data=page %}
            </ul>
        </div>
    </header>

    <section class="slice">
        <div class="container post-content">
            {{ content }}
        </div>
    </section>

    <section class="slice">
        <div class="read-also container">
            <h3 class="read-also-title">Du même auteur :</h3>
            <ul class="posts read-also-list">
                {% for post in site.posts %}
                {% if post.authors contains page.login %}
                <li class="read-also-item">
                    <a class="read-also-link" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
</article>

{% include newsletter_link.html %}
