---
layout: default
---

{% assign author-img = '/img/authors/:author.jpg' | prepend: site.baseurl_root | replace: '//', '/' | replace: ':author', page.login %}
<article class="container">
    <header class="author-heading">
        <img onerror="this.style.display = 'none'" id="author-avatar" class="avatar author-heading__avatar" src="{{ author-img }}" alt="{{ page.title }}" />

        <h1 class="page-heading-title author-heading__name">{{ page.title }}</h1>
        <ul class="author-heading__social-icons-list">
            {% include icons.html data=page origin='author' %}
        </ul>
    </header>

    <hr />
    <section class="slice author__description">
        <div class="post-content">
            {{ content }}
        </div>
    </section>
</article>

<aside class="slice read-also">
    <div class="container">
        <h3 class="read-also__title">{% translate global.same_author %}</h3>
        <ul class="read-also__list">
            {% for post in site.posts %}
                {% if post.authors contains page.login %}
                <li class="read-art">
                    <a class="read-art__link" href='{{ post.url | prepend: site.baseurl }}'>{{ post.title }}</a>
                    <br/>
                    <div class="read-art__metas">
                        <span class="read-art__meta">
                            <i class="far fa-fw fa-calendar-plus"></i>{% include date_translate.html object=post.date %}
                        </span>
                        <span class="read-art__meta">|</span>
                        <span class="read-art__meta">
                            <i class="far fa-fw fa-clock" title="{% translate global.estimated_reading_time %}"></i>{% include reading_time.html content=post.content %}
                        </span>
                    </div>
                    {% include author_articles_link.html authors=post.authors %}

                    <div >
                        <p>{{ post.excerpt }}</p>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</aside>

{% include newsletter_link.html %}
