---
layout: compress
---
<!DOCTYPE html>
<html class="no-js" lang="{{ site.lang }}">
    {% include head.html %}
    <body>
        {% include header.html %}
        <div class="content" id="js-content">
            {{ content }}
        </div>
        <div class="content">
            <div class="posts" id="js-content-search">
            </div>
        </div>
        <div class="offline-ready">
            {% translate global.offline_ready %}
        </div>
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>
