---
layout: default
---
{% if site.theme_settings.share_button %}
    {% include share.html %}
{% endif %}
{% include back_to_top.html %}
<article class="post">
    <!-- Block Author -->
    <header class="meta">
        <h1 class="md-content__title">{{ page.title }}</h1>
        {% include author_link.html authors=page.authors descr=true %}
        <span class="meta-item">
            <i class="far fa-fw fa-calendar-plus"></i>{% include date_translate.html object=page.date %}
        </span>
        <span class="meta-item">|</span>
        <span class="meta-item">
            <i class="far fa-fw fa-clock" title="{% translate global.estimated_reading_time %}"></i>{% include reading_time.html content=content %}
        </span>
    </header>

    <section class="slice">
        <!-- Content -->
        <div class="md-content">
            {{ content }}
        </div>
    </section>
</article>

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
<div id="post-nav" class="post-nav">
    {% if page.previous.url %}
    <a id="prev-post" href="{{ page.previous.url | prepend: site.baseurl }}">
        <span>{{ page.previous.title }}</span>
        <span>
            <i class="fas fa-chevron-left"></i> {% translate global.prev %}
        </span>
    </a>
    {% endif %}
    {% if page.next.url %}
    <a id="next-post" class="post-nav__postlink" href="{{ page.next.url | prepend: site.baseurl }}">
        <span>{{ page.next.title }}</span>
        <span>
            {% translate global.next %} <i class="fas fa-chevron-right"></i>
        </span>
    </a>
    {% endif %}
</div>
{% endif %}

{% include links.html %}

{% include newsletter_link.html %}

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<section class="slice">
    <div class="container">
        {% include disqus.html %}
    </div>
</section>
{% endif %}
<!-- Muut -->
{% if site.theme_settings.muut_community_name %}
<section class="slice">
    <div class="container">
        {% include muut.html %}
    </div>
</section>
{% endif %}
