@use '@eleven-labs/design-system/scss/abstracts' as *;

.sub-header {
  border-top: 1px solid #FFF;

  &__description {
    max-width: var(--max-width-description-container-sub-header, 230px);

    @include create-media-queries( 'md') {
      --max-width-description-container-sub-header: 'auto';
    }
  }

  &__choice-chip-group {
    overflow-x: var(--overflow-x-choice-chip-group-sub-header, scroll);

    @include create-media-queries('md') {
      --overflow-x-choice-chip-group-sub-header: 'auto';
    }
  }
}
