.summary-block {
  $this: &;
  &__section {
    color: var(--color-grey);
    &--active {
      color: var(--color-navy);
      ~ #{$this}__section {
        color: var(--color-black);
      }
    }
  }
}
