// scss-lint:disable VendorPrefix QualifyingElement
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}
// For correct line number width in Github Gists

.gist td {
  box-sizing: content-box;
}

html {
  background: $background-white;
  font-size: 62.5%;
}

// Typography
body {
  color: $brand-black;
  display: flex;
  flex-direction: column;
  font-family: $font-family-main;
  min-height: 100vh;
  word-wrap: break-word;

  @media (max-width: $breakpoint-medium) {
    font-size: $font-size-mobile;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: $font-size;
  }
}

blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}

table {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;

  @media (max-width: $breakpoint-x-large) {
    display: inline-block;
    overflow-x: scroll;
  }
}

td,
th {
  border: 1px solid $border-color;
  padding: .5em 1rem;
  text-align: left;
}

blockquote,
code,
dl,
kbd,
pre,
samp,
table {
  margin: 1em 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 2rem;
}

.math-display,
dl,
ol,
p,
ul {
  line-height: 1.5;
  margin-bottom: 1rem;
}
// KaTeX math display

.math-display {
  display: inline-block;
  width: 100%;
}
// Lists within lists

li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1rem;
}

ol,
ul {
  list-style-position: inside;
}

hr {
  border: 0;
  border-bottom: 1px solid $brand-color;
  border-top: 1px solid $border-color;
  margin: 1em 0;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media

embed,
iframe,
object,
video {
  max-width: 100%;
}

img[align=left] {
  margin-right: 3%;
}

img[align=right] {
  margin-left: 3%;
}
