// Mix-ins

%padding-small {
  padding: $padding-x-small $padding-x-small * 2;

  @media (max-width: $breakpoint-large) {
    padding: $padding-x-small;
  }
}

%padding-regular {
  padding: $padding-small $padding-large;

  @media (max-width: $breakpoint-large) {
    padding: $padding-small * 1.5 $padding-small * 2;
  }
}

%h1 {
  font-weight: lighter;
  line-height: 1.1;
  text-transform: uppercase;

  @media (max-width: $breakpoint-medium) {
    font-size: 3rem;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 4rem;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 5rem;
  }   
}

%h2 {
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;

  @media (max-width: $breakpoint-medium) {
    font-size: 1.8rem;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 2.2rem;
  }
}

%h3 {
  background: $brand-yellow;
  display: inline-block;
  line-height: 1.3;
  padding: .3rem .6rem;
  text-transform: uppercase;

  @media (max-width: $breakpoint-medium) {
    font-size: 1.5rem;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 1.8rem;
  }
}

%h4 {
  font-size: 1.8rem;
  line-height: 1.3;
}
// States
.disabled {
  opacity: .7;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
