// Mix-ins
%padding-small {
  padding: $padding-x-small $padding-x-small * 2;

  @media (max-width: $breakpoint-large) {
    padding: $padding-x-small;
  }
}

%padding-regular {
  padding: $padding-small $padding-large;

  @media (max-width: $breakpoint-large) {
    padding: $padding-small * 1.5 $padding-small * 2;
  }
}

%h1 {
  font-family: $font-family-post-titles;
  font-size: 3.5rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.2;
  text-transform: uppercase;
}

%h2 {
  font-family: $font-family-post-titles;
  font-size: 2.8rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

%h3 {
  color: $butterscotch;
  display: inline-block;
  font-family: $font-family-post-titles;
  font-size: 2.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

%h4 {
  font-family: $font-family-post-titles;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

// States
.disabled {
  opacity: .7;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
